<template>
  <div class="cards-page">

    <mega-header class="bg-white" title="Icons">
      <span class="text-muted">A huge collection of multi-purpose, uniquely designed, font icons.</span>
    </mega-header>

    <div class="container py-5">

      <mega-input class="bg-white" placeholder="Search icon" v-model="search"/>

      <mega-card title="Icons with class start i-">
        <div class="card-body">
          <div class="row">
            <div class="xs:col-12 sm:col-6 md:col-4 lg:col-4 xl:col-2 text-center mb-5"
                 v-for="(icon, i) in icons"
                 v-if="search ? icon.includes(search) : true"
                 :key="i">
              <h2 class="mb-o text-dark"><i :class="icon"></i></h2>
              <small class="code align-middle">{{icon}}</small>
            </div>
          </div>
        </div>
      </mega-card>
    </div>
  </div>
</template>

<script>
  import icons from './data/icons'

  export default {
    name: 'Tiles',
    data() {
      return {
        search: '',
        icons
      }
    }
  }
</script>
