<template>
  <div class="modal-page">

    <mega-header class="bg-white" title="Modal">
      <span class="text-muted">Inform your users with multiple ways.</span>
    </mega-header>

    <section>
      <div class="container py-5">

        <mega-card title="Buttons Color">
          <div class="card-body">

            <p>Modal window is a simple fixed container with card component, this mean that you can use all card futures
              in modal.</p>

            <mega-button class="bg-primary" @click="showModal = true">Open Simple Modal</mega-button>
            <mega-button class="bg-primary" @click="showModal_2 = true">Open Another Modal</mega-button>
          </div>
        </mega-card>
      </div>
    </section>

    <mega-modal ref="modal-2"
                :active="showModal_2"
                @onClose="showModal_2 = false">

      <mega-header title="Modal header" class="bg-lighter">
        <span class="text-muted">Modal window now is very easy to use.</span>
      </mega-header>

      <div class="card-body"> Simple modal body </div>

      <div class="card-body">
        <div class="navbar">
          <div class="navbar-group ml-auto">
            <span class="btn bg-white mr-2" @click="showModal_2 = false">Close</span>
            <span class="btn bg-primary" @click="showModal = true">Open first modal</span>
          </div>
        </div>
      </div>
    </mega-modal>

    <mega-modal ref="modal" class="modal-sm"
                title="Modal Title"
                :center="true"
                :active="showModal"
                :menu="[{click() {showModal = false}, icon: 'i-close'}]"
                @onClose="showModal = false">

      <div class="card-body"> Simple modal dialog </div>
    </mega-modal>
  </div>
</template>

<script>
  export default {
    name: 'Blank',
    data() {
      return {
        showModal: false,
        showModal_2: false
      }
    }
  }
</script>
