<template>
  <div class="inbox-page">

    <mega-header class="bg-white" title="Inbox">
      <span class="text-muted"><strong>15-30</strong> from <strong>700</strong></span>
    </mega-header>

    <section>
      <div class="container py-5">
        <div class="row">

          <div class="sm-down:col-12 md:col-6 lg:col-4 xl:col-3">

            <div class="btn d-block text-left card-border mb-3"
                 v-for="(folder, i) in folders" :key="i">
              <i class="i-folder-solid float-left opacity-50"></i>
              <span class="float-right opacity-50">{{rand()}}</span>
              <span>{{folder}}</span>
            </div>

            <mega-card title="Friends" :menu="[{icon: 'i-plus', click: () => {}}]">

              <div class="navbar py-3 cursor-pointer">
                <div class="container-fluid">

                  <div class="navbar-label">

                    <mega-image class="rounded-full navbar-avatar mr-3" src="/static/cover.jpg"/>

                    <div class="content">
                      <small class="strong"><a href="#">Alex Moore</a></small>
                      <small class="text-muted">Web Developer</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="navbar py-3 cursor-pointer">
                <div class="container-fluid">

                  <mega-image class="rounded-full border navbar-avatar mr-3" src="/static/wild-weber.png"/>

                  <div class="navbar-label">

                    <div class="content">
                      <small class="strong"><a href="#">Wild Weber</a></small>
                      <small class="text-muted">Cool Company</small>
                    </div>
                  </div>
                </div>
              </div>
            </mega-card>
          </div>

          <div class="sm-down:col-12 col">
            <mega-card title="Inbox">

              <div class="navbar py-3 border-top cursor-pointer" v-for="(mail, i) in inbox" :key="i">
                <div class="container-fluid">

                  <div class="navbar-label mr-auto">

                    <div class="content">
                      <small class="strong"><a href="#">{{mail.title}}</a></small>
                      <small class="text-muted">{{mail.from}} </small>
                    </div>
                  </div>

                  <mega-button v-if="mail.attachment" class="p-0"><i class="i-paperclip"></i></mega-button>
                  <mega-button>{{mail.date}}</mega-button>
                </div>
              </div>
            </mega-card>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    name: 'Inbox',
    data() {
      return {
        folders: [
          'Inbox',
          'Starred',
          'Sent',
          'Draft',
          'Archive',
          'Trash'
        ],
        inbox: [
          {
            from: "Omega Team",
            title: "Now you can use Mega-Progress!",
            attachment: true,
            date: "May 28, 2019",
          },
          {
            from: "Omega Team",
            title: "We love our clients c:",
            date: "May 26, 2019",
          },
          {
            from: "Omega Team",
            title: "Did you purchase Omega Dashboard?",
            date: "May 24, 2019",
          },
          {
            from: "Omega Team",
            title: "We added inbox page template",
            attachment: true,
            date: "May 24, 2019",
          },
          {
            from: "Alex Moore",
            title: "Welcome in Omega Dashboard!",
            date: "May 23, 2019",
          }
        ]
      }
    },
    methods: {
      rand() {
        return Math.round( Math.random() * 10 )
      }
    }
  }
</script>
