<template>
    <div class="admin-page" :class="{'side-menu-mini': $mega.menu.isMini,'side-menu-open': $mega.menu.isOpen}">

        <page-sidebar/>

        <div class="admin-body d-flex flex-column" style="min-height: 100vh">
            <page-navbar/>

            <div style="flex: 1">
                <router-view/>
            </div>

            <page-footer/>
        </div>
    </div>
</template>

<script>
  import PageFooter from './components/footer';
  import PageSidebar from './components/side-menu';
  import PageNavbar from './components/navbar'

  import MegaCard from './components/navbar'

  export default {
    name: 'App',
    data(){
      return {
        sidebar: localStorage.getItem('sidebar') === 'mini'
      }
    },
    methods: {},
    components: {
      PageNavbar,
      PageFooter,
      PageSidebar
    }
  }
</script>
