<template>
  <div class="cards-page">

    <mega-header class="bg-white" title="Cards">
      <span class="text-muted">Basic card futures</span>
    </mega-header>

    <div class="container py-5">

      <div class="row">

        <div class="sm-down:col-12 md-up:col-6">

          <mega-card title="Simple Card">

            <div class="card-body">
              <p class="mb-0">Simple card content</p>
              <small class="text-muted">Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum.</small>
            </div>
          </mega-card>

          <mega-card :loading="true" title="Loading card">
            <div class="card-body">
              <span>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum.</span>
            </div>
          </mega-card>

          <mega-card>
            <div class="card-body">
              <p class="mb-0">Card without title</p>
              <small class="text-muted">Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum.</small>
            </div>
          </mega-card>

          <mega-card class="rounded" no-header>
            <div class="card-media">

              <div class="media-overlay text-center overlay-80 overlay-dark">
                <h1 class="mb-0"><i class="i-alert-circle"></i></h1>
                <small class="text-muted text-uppercase">Card overlay</small>
              </div>

              <mega-image ratio="16x9" src="/static/cover.jpg"/>
            </div>
          </mega-card>
        </div>

        <div class="col">

          <mega-card title="Card With media">
            <div class="card-media">
              <mega-image ratio="16x9" src="/static/cover.jpg"/>
            </div>
            <div class="card-body">
              <small class="text-muted">Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum.</small>
            </div>
          </mega-card>

          <mega-card class="rounded">

            <div class="card-header">
              <nav class="nav w-100">
                <span class="btn btn-sm bg-danger p-0"><i class="i-download"></i></span>
                <router-link to="/" class="btn btn-sm mx-auto">My title</router-link>
                <span class="btn btn-sm bg-primary p-0"><i class="i-cloud"></i></span>
              </nav>
            </div>

            <div class="card-body">
              <p class="mb-0">Custom card header</p>
              <small class="text-muted">Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum.</small>
            </div>
          </mega-card>

          <mega-alert title="Here was card" v-if="noCard">Laoreet adipiscing luctus mauris adipiscing pretium eget fermentum.</mega-alert>

          <mega-card title="With menu"
                     ref="card"
                     :loading="loading"
                     :menu="['refresh', 'minimize', 'fullscreen', 'close']"
                     @close="noCard = true"
                     @refresh="onRefresh">

            <div class="card-body">
              <p class="mb-0">Card with menu</p>
              <small class="text-muted">Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum.</small>
            </div>
          </mega-card>

          <mega-card title="Custom menu" :menu="[{icon: 'i-terminal', click: onClick}]">

            <div class="card-body">
              <p class="mb-0">Click the button and check console</p>
              <small class="text-muted">Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum.</small>
            </div>
          </mega-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Cards',
    data() {
      return {
        loading: false,
        noCard: false
      }
    },
    methods: {

      onRefresh() {
        this.loading = true;

        setTimeout(() => {
          this.loading = false;
        }, 2000)
      },

      onClick() {
        console.log('Custom button action')
      }
    }
  }
</script>
