<template>
  <button class="btn"
          :class="{disabled}"
          @click="$emit('click')">
    <slot></slot>
  </button>
</template>

<script>
  export default {
    props: {
      disabled: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {

      }
    }
  }
</script>
