<template>
  <div class="form-group">

    <label v-if="label" class="form-label">{{label}}</label>

    <div class="form-select"
         :class="{'cursor-pointer': !loading}">

      <div class="input-wrap"
           ref="input"
           @click="open"
           :class="{'events-disable': loading}">
        <span class="btn p-0 rounded-left bg-light" v-if="icon"><i :class="icon"></i></span>

        <input class="form-input rounded-right-0 events-disable" type="text"
               :placeholder="placeholder"
               :class="{'rounded-left-0': icon, 'rounded-bottom-0': active}"
               v-model="name">

        <span class="btn p-0 rounded-right bg-light events-disable" v-if="loading"><i class="i-spin"></i></span>
        <span class="btn p-0 rounded-right bg-light events-disable" :class="{'rounded-bottom-0': active}" @click="" v-if="!loading">
          <i :class="active ? 'i-chevron-up' : 'i-chevron-down'"></i>
        </span>
      </div>

        <div class="dropdown-wrap" ref="dropdown">
          <div class="dropdown" :class="{active}">

            <input class="form-input rounded-0 bg-white" ref="search" type="text" placeholder="Search.."
                   v-if="filter"
                   @keyup="onKeypress">

            <perfect-scrollbar class="scroll-wrap">

              <nav class="nav flex-column">
                <span class="btn"
                      :class="{'selected': selected === i}"
                      @click="select(option)"
                      @mouseenter="selected = i"
                      v-for="(option, i) in options"
                      :key="i">
                  {{option.name}}
                </span>
              </nav>
            </perfect-scrollbar>
          </div>
        </div>
    </div>

    <span v-if="help !== undefined" class="form-help">{{help}}</span>
  </div>
</template>

<script>
  export default {
    props: {
      placeholder: [String, Number],
      label: [String, Number],
      loading: Boolean,
      filter: Boolean,
      help: {
        type: [String, Number],
        default: undefined
      },
      options: {
        type: Array,
        required: true
      },
      icon: String,
      value: [String, Number]
    },
    computed: {
      _value: {
        get () { return this.value },
        set (value) {
          this.setName();
          this.$emit('input', value);
        }
      }
    },
    data() {
      return {
        active: false,
        selected: -1,
        name: '',
        search: ''
      }
    },
    watch: {
      value() {
        this.setName();
      },
      options() {
        this.setName();
      }
    },
    mounted () {
      document.addEventListener("click", (e) => {

        let p = e.target;

        while(p)
        {
          if(p && p === this.$refs['dropdown'] || p && p === this.$refs['input'])
            return;

          p = p.parentElement;
        }

        this.close()
      });

      document.addEventListener("keyup", (e) => {

        if(this.active)
        {
          e.preventDefault();
          e = e || window.event;

          if(e.keyCode === 13)
            this.select(this.options[this.selected])

          if(e.keyCode === 38 && this.selected > 0)
            this.selected--

          if(e.keyCode === 40 && this.selected < this.options.length - 1)
            this.selected++
        }
      });

      this.setName();
    },
    methods: {

      open() {
        this.search = '';
        this.$emit('target');

        if(this.options.length > 0)
          this.active = !this.active;

        setTimeout(() => {
          if(this.$refs['search'])
            this.$refs['search'].focus();
        }, 100)
      },

      onKeypress(e) {
        this.$emit('search', e.target.value)
      },

      close() {
        this.active = false;
        this.selected = -1;

        if(this.$refs['search'])
          this.$refs['search'].value = '';

        this.$emit('search', '')
      },

      select(data) {
        this._value = data.value;
        this.setName(data.value);
        this.close();
        this.$emit('select', data.value);
      },

      setName(value) {

        if(!value)
          value = this.value;

        this.name = '';

        this.options.map(option => {
          if(option.value == value)
            this.name = option.name || option.value;
        });
      }
    }
  }
</script>
