<template>
  <div class="form-group">

    <label v-if="label" class="form-label">{{label}}</label>

    <div class="input-wrap" :class="{'events-disable': loading}">
      <span class="btn p-0 rounded-left bg-light events-disable" v-if="icon"><i :class="icon"></i></span>

      <input class="form-input"
             :placeholder="placeholder"
             :type="type"
             :class="{'rounded-right-0': loading || button, 'rounded-left-0': icon}"
             @click="$emit('click', $event)"
             @keyup="$emit('keyup', $event)"
             @keydown="$emit('keydown', $event)"
             @keypress="$emit('keypress', $event)"
             @change="$emit('change', $event)"
             @blur="$emit('blur', $event)"
             @focus="$emit('focus', $event)"
             v-model="_value">

      <span class="btn p-0 rounded-right bg-light" v-if="loading"><i class="i-spin"></i></span>
      <span class="btn p-0 rounded-right bg-light" @click="button.click" v-if="!loading && button">
        <i v-if="button.icon" :class="button.icon"></i>
        {{button.text}}
      </span>
    </div>

    <span v-if="help !== undefined" class="form-help">{{help}}</span>
  </div>
</template>

<script>
  export default {
    props: {
      placeholder: [String, Number],
      label: [String, Number],
      help: {
        type: [String, Number],
        default: undefined
      },
      type: {
        type: String,
        default: 'text'
      },
      loading: {
        type: Boolean,
        default: false
      },
      icon: String,
      button: Object,
      value: [String, Number]
    },
    computed: {
      _value: {
        get () { return this.value },
        set (value) { this.$emit('input', value); }
      }
    }
  }
</script>
