<template>
  <div class="form-group">

    <label v-if="label" class="form-label">{{label}}</label>

    <div class="input-wrap">

      <textarea class="form-input"
                :rows="rows || 10"
                :placeholder="placeholder"
                v-model="_value"
                @click="$emit('click', $event)"
                @keyup="$emit('keyup', $event)"
                @keydown="$emit('keydown', $event)"
                @keypress="$emit('keypress', $event)"
                @change="$emit('change', $event)"
                @blur="$emit('blur', $event)"
                @focus="$emit('focus', $event)"
      ></textarea>
    </div>

    <span v-if="help !== undefined" class="form-help">{{help}}</span>
  </div>
</template>

<script>
  export default {
    props: {
      placeholder: [String, Number],
      label: [String, Number],
      help: {
        type: [String, Number],
        default: undefined
      },
      rows: [String, Number],
      icon: String,
      value: [String, Number]
    },
    computed: {
      _value: {
        get () { return this.value },
        set (value) { this.$emit('input', value); }
      }
    },
    data() {
      return {

      }
    }
  }
</script>
