<template>
  <div class="form-group">

    <label v-if="label" class="form-label">{{label}}</label>

    <div class="input-wrap">

      <i-mask class="form-input" type="text"
              :placeholder="placeholder"
              @click="$emit('click', $event)"
              @keyup="$emit('keyup', $event)"
              @keydown="$emit('keydown', $event)"
              @keypress="$emit('keypress', $event)"
              @change="$emit('change', $event)"
              @blur="$emit('blur', $event)"
              @focus="$emit('focus', $event)"
              :unmask="unmask"
              :mask="mask"
              v-model="model"/>
    </div>

    <span v-if="help !== undefined" class="form-help">{{help}}</span>
  </div>
</template>

<script>
  import IMask from '../modules/imask';

  export default {
    props: {
      placeholder: [String, Number],
      label: [String, Number],
      help: {
        type: [String, Number],
        default: undefined
      },
      masked: {
        type: Boolean,
        default: false
      },
      value: [String, Number],
      unmask: {
        type: Boolean,
        default: false
      },
      mask: Object
    },
    data () {
      return {
        model: this.value
      }
    },
    watch: {
      model() {
        this.$emit('input', this.model);
      }
    },
    mounted() {
      this.$emit('input', this.model);
    },
    components: {
      iMask: IMask
    }
  }
</script>