<template>
  <div class="form-group">

    <label v-if="label" class="form-label">{{label}}</label>

    <div class="input-wrap">

      <span class="btn p-0 rounded-left bg-light" @click="subtract"><i class="i-minus"></i></span>

      <input class="form-input rounded-0 text-center" type="text"
             :placeholder="placeholder"
             @change="check"
             @click="$emit('click', $event)"
             @keyup="$emit('keyup', $event)"
             @keydown="$emit('keydown', $event)"
             @keypress="$emit('keypress', $event)"
             @blur="$emit('blur', $event)"
             @focus="$emit('focus', $event)"
             v-model="_value">

      <span class="btn p-0 rounded-right bg-light" @click="add"><i class="i-plus"></i></span>
    </div>

    <span v-if="help !== undefined" class="form-help">{{help}}</span>
  </div>
</template>

<script>
  export default {
    props: {
      placeholder: [String, Number],
      label: [String, Number],
      help: {
        type: [String, Number],
        default: undefined
      },
      min: Number,
      max: Number,
      step: Number,
      value: Number
    },
    computed: {
      _value: {
        get () { return this.value },
        set (value) {
          value = parseInt(value);
          this.$emit('input', parseInt(value));
        }
      }
    },
    methods: {

      subtract() {
        let res = this.step === undefined ? this._value - 1 : this._value - this.step;

        if(this.min === undefined || res >= this.min)
          this._value = res;

        this.$emit('subtract', this._value);
      },

      add() {
        let res = this.step === undefined ? this._value + 1 : this._value + this.step;

        if(this.max === undefined || res <= this.max)
          this._value = res;

        this.$emit('add', this._value);
      },

      check() {
        if(this.max !== undefined && this._value > this.max)
          this._value = this.max;

        if(this.min !== undefined && this._value < this.min)
          this._value = this.min;
      }
    }
  }
</script>
