<template>
  <div class="form-group">

    <div class="switch-wrap">
      <span v-if="label" class="form-label mr-3">{{label}}</span>

      <div class="form-switch"
           ref="switch"
           @click="onClick"
           :class="{loading, active: checked !== undefined ? checked : _value}">

        <input type="checkbox" hidden
               @change="$emit('change')"
               @blur="$emit('blur')"
               @focus="$emit('focus')"
               v-model="_value">
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      icon: String,
      value: Boolean,
      label: [String, Number],
      loading: Boolean,
      checked: {
        type: Boolean,
        default: undefined
      }
    },
    computed: {
      _value: {
        get () { return this.value },
        set (value) { this.$emit('input', value); }
      }
    },
    data() {
      return {
        _disable: false
      }
    },
    methods: {
      onClick(event) {
        event.preventDefault = () => { this._disable = true; };

        this.$emit('click', event);

        if(!this._disable)
          this._value = !this._value;

        this._disable = false;
      }
    }
  }
</script>
