<template>
  <section class="admin-header"
           :class="{'bg-image': background}"
           :style="background ? {backgroundImage: 'url('+background+')'} : false">
    <div class="container py-5 sm-down:text-center">
      <h1 class="mb-0 d-block">{{title}}</h1>
      <slot></slot>
    </div>
  </section>
</template>

<script>
  export default {
    props: {
      title: [String, Number],
      background: String,
      text: [String, Number]
    },
    data() {
      return {

      }
    }
  }
</script>
