<template>
  <div class="slider-page">

    <mega-slider class="bg-white" :auto-play="3000">

      <mega-slide class="w-100">
        <mega-header title="Slider">
          <span class="text-muted">Draggable with mouse and touch, flexible and mobile friendly content sliders.</span>
        </mega-header>
      </mega-slide>

      <mega-slide class="w-100">
        <mega-header title="Slider 2">
          <span class="text-muted">Draggable with mouse and touch, flexible and mobile friendly content sliders.</span>
        </mega-header>
      </mega-slide>

      <mega-slide class="w-100">
        <mega-header title="Slider 3">
          <span class="text-muted">Draggable with mouse and touch, flexible and mobile friendly content sliders.</span>
        </mega-header>
      </mega-slide>
    </mega-slider>

    <section>
      <div class="container py-5">
        <div class="row">
          <div class="sm-down:col-12 md-up:col-6">

            <mega-card title="Basic Slider">
              <div class="card-media">
                <mega-slider>
                  <mega-slide class="py-8 bg-info content-center"
                              v-for="i in 9"
                              :key="i">
                    <h1 class="text-white mb-0">{{i}}</h1>
                  </mega-slide>
                </mega-slider>
              </div>
            </mega-card>

            <mega-card title="Slider Auto Play">
              <mega-slider :options="{autoplay: true}">
                <mega-slide v-for="i in 9"
                            :key="i">
                  <div class="card-body">
                    <div class="py-8 bg-success content-center rounded">
                      <h1 class="text-white mb-0">{{i}}</h1>
                    </div>
                  </div>
                </mega-slide>
              </mega-slider>
            </mega-card>
          </div>

          <div class="sm-down:col-12 md-up:col-6">

            <mega-card title="Slider Loop">
              <mega-slider :options="{loop: true, slidesPerView: 2}">
                <mega-slide class="card-body"
                            v-for="i in 9"
                            :key="i">
                  <div class="py-8 bg-warning content-center rounded">
                    <h1 class="text-white mb-0">{{i}}</h1>
                  </div>
                </mega-slide>
              </mega-slider>
            </mega-card>

            <mega-card title="Slider Free Scroll">
              <mega-slider :options="{freeMode: true}">
                <mega-slide class="card-body"
                            v-for="i in 9"
                            :key="i">
                  <div class="bg-primary content-center rounded py-8">
                    <h1 class="text-white mb-0">{{i}}</h1>
                  </div>
                </mega-slide>
              </mega-slider>
            </mega-card>

            <mega-card title="Slider Images">
              <div class="card-media pb-3">
                <mega-slider :options="{initialSlide: 3, spaceBetween: 10, slideToClickedSlide: true, centeredSlides: true, slidesPerView: 'auto'}">

                  <mega-slide style="height: 100px;" v-for="(img, i) in images" :key="i">
                    <img class="w-auto h-100 cursor-pointer rounded" :src="img" alt="">
                  </mega-slide>
                </mega-slider>
              </div>
            </mega-card>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    name: 'Slider',
    data() {
      return {
        images: [
          'https://images.pexels.com/photos/2326961/pexels-photo-2326961.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500',
          'https://images.pexels.com/photos/2317423/pexels-photo-2317423.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500',
          'https://images.pexels.com/photos/2294471/pexels-photo-2294471.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500',
          'https://images.pexels.com/photos/2302503/pexels-photo-2302503.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500',
          'https://images.pexels.com/photos/2289940/pexels-photo-2289940.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500',
          'https://images.pexels.com/photos/2309580/pexels-photo-2309580.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'
        ]
      }
    },
    methods: {}
  }
</script>
