.badge{
  color: $muted;
  line-height: 1;
  font-size: 12px;
  max-width: 100%;
  transition: .3s;
  font-weight: 600;
  overflow: hidden;
  user-select: none;
  padding: .5em .8em;
  position: relative;
  text-align: center;
  border-radius: 5px;
  white-space: nowrap;
  background: $lighter;
  font-family: inherit;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;

  i{
    position: relative;
    font-weight: normal;
    line-height: inherit;

    &.float-right{
      float: right;
      margin-left: .8em;
    }

    &.float-left{
      float: left;
      margin-right: .8em;
    }
  }

  &.badge-lg{
    font-size: 14px;
  }

  &.badge-rounded{
    border-radius: 20px;
  }

  &.bg-light{
    color: $muted;
    background: fade_out($lighter, .5);
  }

  &.bg-primary{
    color: $primary;
    background: fade_out($primary, .9);
  }

  &.bg-info{
    color: $info;
    background: fade_out($info, .9);
  }

  &.bg-danger{
    color: $danger;
    background: fade_out($danger, .9);
  }

  &.bg-warning{
    color: $warning;
    background: fade_out($warning, .9);
  }

  &.bg-success{
    color: $success;
    background: fade_out($success, .9);
  }

  &.bg-white{
    color: $white;
    background: fade_out($white, .9);
  }

  &.bg-dark{
    color: $lighter;
    background: fade_out($dark, .2);
  }
}