//
// Buttons

.btn{
  border: none;
  height: 40px;
  color: $muted;
  cursor: pointer;
  max-width: 100%;
  min-width: 40px;
  font-size: 14px;
  transition: .3s;
  font-weight: 600;
  overflow: hidden;
  box-shadow: none;
  background: none;
  user-select: none;
  line-height: 40px;
  position: relative;
  text-align: center;
  border-radius: 5px;
  white-space: nowrap;
  font-family: inherit;
  display: inline-block;
  padding-left: $spacer;
  vertical-align: unset;
  padding-right: $spacer;
  text-overflow: ellipsis;

  &.disabled{
    pointer-events: none;

    &:after{
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      position: absolute;
      background: fade_out(#fff, .5);
    }
  }

  &:hover, &:focus{
    color: $black;
  }

  &.btn-rounded{
    border-radius: 40px;
  }

  &.disabled, &[disabled]{
    pointer-events: none;

    &:after{
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      position: absolute;
      background: fade_out($white, .5);
    }
  }

  i{
    top: 1px;
    width: 16px;
    text-align: center;
    position: relative;
    font-weight: normal;
    line-height: inherit;

    &.float-right{
      float: right;
      margin-left: $spacer;
    }

    &.float-left{
      float: left;
      margin-right: $spacer;
    }
  }
}

//
// Button sizes

.btn-lg{
  height: 50px;
  min-width: 50px;
  font-size: 16px;
  line-height: 50px;
  padding-left: $spacer + 5px;
  padding-right: $spacer + 5px;

  &.btn-rounded{ border-radius: 50px; }
  i{
    width: 18px;

    &.float-right{ margin-left: $spacer + 5px; }
    &.float-left{ margin-right: $spacer + 5px; }
  }
}

.btn-sm{
  height: 30px;
  min-width: 30px;
  font-size: 12px;
  line-height: 30px;
  padding-left: $spacer;
  padding-right: $spacer;

  &.btn-rounded{ border-radius: 30px; }
  i{
    width: 14px;

    &.float-right{ margin-left: $spacer; }
    &.float-left{ margin-right: $spacer; }
  }
}

.btn-xs{
  height: 24px;
  min-width: 24px;
  font-size: 10px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: $spacer - 5px;
  padding-right: $spacer - 5px;

  &.btn-rounded{ border-radius: 24px; }
  i{
    width: 10px;

    &.float-right{ margin-left: $spacer - 5px; }
    &.float-left{ margin-right: $spacer - 5px; }
  }
}

//
// Button colors

.btn{

  &.text-primary{
    color: $primary;

    &:hover, &:focus { color: $primary-dark }
  }

  &.text-warning{
    color: $warning;

    &:hover, &:focus { color: $warning-dark; }
  }

  &.text-success{
    color: $success;

    &:hover, &:focus { color: $success-dark; }
  }

  &.text-info{
    color: $info;

    &:hover, &:focus { color: $info-dark; }
  }

  &.text-danger{
    color: $danger;

    &:hover, &:focus { color: $danger-dark; }
  }

  &.text-light{
    color: $lighter;

    &:hover, &:focus { color: $light; }
  }

  &.text-dark{
    color: $dark;

    &:hover, &:focus { color: $darker; }
  }
}

.btn{

  &.bg-primary{
    background: $primary;
    color: fade_out($white, .1);

    &:hover, &:focus { color: $white; background: $primary-dark; }
  }

  &.bg-warning{
    background: $warning;
    color: fade_out($white, .1);

    &:hover, &:focus { color: $white; background: $warning-dark; }
  }

  &.bg-success{
    background: $success;
    color: fade_out($white, .1);

    &:hover, &:focus { color: $white; background: $success-dark; }
  }

  &.bg-info{
    background: $info;
    color: fade_out($white, .1);

    &:hover, &:focus { color: $white; background: $info-dark; }
  }

  &.bg-danger{
    background: $danger;
    color: fade_out($white, .1);

    &:hover, &:focus { color: $white; background: $danger-dark; }
  }

  &.bg-light{
    background: $lighter;
    color: fade_out($dark, .1);

    &:hover, &:focus { color: $dark; background: $light; }
  }

  &.bg-muted{
    background: $muted;
    color: fade_out($white, .1);

    &:hover, &:focus { color: $white; background: #636b72; }
  }

  &.bg-dark{
    background: $dark;
    color: fade_out($white, .1);

    &:hover, &:focus { color: $white; background: $darker; }
  }

  &.bg-white{
    background: $white;
    color: fade_out($dark, .1);

    &:hover, &:focus { color: $dark; background: $lighter; }
  }
}

