.card{
  display: block;
  background: $white;
  position: relative;
  box-shadow: 0 18px 0 -15px fade_out($black, .95);

  &:not([class*="mb-"]){ margin-bottom: $spacer; }

  &.fullscreen{
    overflow-y: auto;

    .card-header{
      top: 0;
      z-index: 100;
      position: sticky;
    }
  }

  &.loading{

    &:after{
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      z-index: 10;
      position: absolute;
      background: fade_out($white, .3);
    }

    &:before{
      width: 20px;
      z-index: 20;
      height: 20px;
      transition: .3s;
      content: '\ea2b';
      line-height: 20px;
      position: absolute;
      text-align: center;
      pointer-events: none;
      top: calc(50% - 10px);
      left: calc(50% - 10px);
      font-family: 'icons', sans-serif;
      animation: spin 2s ease-in-out infinite;
    }
  }

  &.bg-transparent{
    box-shadow: none;
    background: transparent;

    .card-header{ background: transparent; }
  }
}

.card-header{
  padding: 5px;
  display: flex;
  background: $white;
}

.card-title{
  height: 30px;
  color: $muted;
  max-width: 100%;
  min-width: 30px;
  font-size: 14px;
  transition: .3s;
  font-weight: 600;
  overflow: hidden;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  font-family: inherit;
  display: inline-block;
  padding-left: $spacer;
  padding-right: $spacer;
  text-overflow: ellipsis;
}

.card-media{
  display: block;
  overflow: hidden;
  position: relative;
}

.media-overlay{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  color: $lighter;
  position: absolute;
  flex-direction: column;
  justify-content: center;
}

.card-body{
  padding: $spacer;
}

.card-border{
  transition: .3s;
  background: #fff;
  box-sizing: unset;
  border: 2px solid #eee;

  i{
    top: 0;
  }

  &:hover{
    border-color: #ddd;
  }
}
