.chart{

  .chart-wrap{
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

.card{
  .card-media{
    .media-overlay{
      .chart{
        height: 100%;
        padding-top: $spacer;
        padding-bottom: 0 !important;
      }
    }
  }
}

.progress-ring {
  font-weight: 500;
  position: relative;
  display: inline-block;
  background: transparent;

  &.bg-white{

    circle { stroke: $white; }
  }

  &.bg-primary{

    circle { stroke: $primary; }
  }

  &.bg-info{

    circle { stroke: $info; }
  }

  &.bg-danger{

    circle { stroke: $danger; }
  }

  &.bg-warning{

    circle { stroke: $warning; }
  }

  &.bg-success{

    circle { stroke: $success; }
  }

  &.bg-dark{

    circle { stroke: $dark; }
  }

  &.bg-muted{

    circle { stroke: $muted; }
  }

  circle {
    stroke: $lighter;
    fill: transparent;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.5s;
  }

  .content{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }
}