.display-1{
  line-height: 1;
  font-size: 10em;
  font-weight: 300;
}

.display-2{
  line-height: 1;
  font-size: 9em;
  font-weight: 300;
}

.display-3{
  line-height: 1;
  font-size: 8em;
  font-weight: 300;
}

.display-4{
  line-height: 1;
  font-size: 7em;
  font-weight: 300;
}

.display-5{
  line-height: 1;
  font-size: 6em;
  font-weight: 300;
}

.display-6{
  line-height: 1;
  font-size: 5em;
  font-weight: 300;
}