.form-group{
  position: relative;
  background: transparent;

  &:not([class*="mb-"]){ margin-bottom: $spacer; }

  &.border{
    border: unset;

    .form-switch{
      border: 3px solid #fff;

      &:before{
        top: 3px;
        left: 3px;
        width: 18px;
        height: 18px;
      }

      &:after{
        width: 18px;
        height: 18px;
        font-size: 12px;
      }

      &:active{

        &:before{
          width: 24px;
        }
      }

      &.active{

        &:before {
          left: calc(100% - 3px);
          transform: translateX(-100%);
        }
      }
    }
  }

  &.bg-white{

    .btn{
      color: $muted;
      background: $white;

      &:focus{
        background: fade_out($white, .2);
      }
    }

    .form-input{
      border: none;
      color: $muted;
      background: $white;

      &:focus{
        background: fade_out($white, .2);
      }
    }

    .form-switch{

      &.active{
        background: $white;
      }
    }

    .form-range{

      .road{
        background: fade_out($white, .5);

        .fill{
          background: $white;
        }
      }

      .handle{
        background: $lighter;
        border: 3px solid $white;
      }
    }
  }

  &.bg-primary{

    .btn{
      color: $blue;
      background: fade_out($blue-dark, .8);

      &:hover{
        background: fade_out($blue-dark, .7);
      }
    }

    .form-input{
      color: $primary;
      border: none;
      background: fade_out($primary, .9);

      &:focus{
        background: fade_out($primary, .8);
      }
    }

    .form-switch{

      &.active{
        background: $primary;

        &:hover{ background: $primary-dark; }
      }
    }

    .form-range{

      .road{
        background: $lighter;

        .fill{
          background: $blue;
        }
      }

      .handle{
        background: $white;
        border: 3px solid $blue;
      }
    }
  }

  &.bg-info{

    .btn{
      color: $cyan;
      background: fade_out($cyan-dark, .8);

      &:hover{
        background: fade_out($cyan-dark, .7);
      }
    }

    .form-input{
      color: $info;
      border: none;
      background: fade_out($info, .9);

      &:focus{
        background: fade_out($info, .8);
      }
    }

    .form-switch{

      &.active{
        background: $info;

        &:hover{ background: $info-dark; }
      }
    }

    .form-range{

      .road{
        background: $lighter;

        .fill{
          background: $cyan;
        }
      }

      .handle{
        background: $white;
        border: 3px solid $cyan;
      }
    }
  }

  &.bg-danger{

    .btn{
      color: $red;
      background: fade_out($red-dark, .8);

      &:hover{
        background: fade_out($red-dark, .7);
      }
    }

    .form-input{
      color: $danger;
      border: none;
      background: fade_out($danger, .9);

      &:focus{
        background: fade_out($danger, .8);
      }
    }

    .form-switch{

      &.active{
        background: $danger;

        &:hover{ background: $danger-dark; }
      }
    }

    .form-range{

      .road{
        background: $lighter;

        .fill{
          background: $red;
        }
      }

      .handle{
        background: $white;
        border: 3px solid $red;
      }
    }
  }

  &.bg-warning{

    .btn{
      color: $yellow;
      background: fade_out($yellow-dark, .8);

      &:hover{
        background: fade_out($yellow-dark, .7);
      }
    }

    .form-input{
      border: none;
      color: $warning;
      background: fade_out($warning, .9);

      &:focus{
        background: fade_out($warning, .8);
      }
    }

    .form-switch{

      &.active{
        background: $warning;

        &:hover{ background: $warning-dark; }
      }
    }

    .form-range{

      .road{
        background: $lighter;

        .fill{
          background: $yellow;
        }
      }

      .handle{
        background: $white;
        border: 3px solid $yellow;
      }
    }
  }

  &.bg-success{

    .btn{
      color: $green;
      background: fade_out($green-dark, .8);

      &:hover{
        background: fade_out($green-dark, .7);
      }
    }

    .form-input{
      border: none;
      color: $success;
      background: fade_out($success, .9);

      &:focus{
        background: fade_out($success, .8);
      }
    }

    .form-switch{

      &.active{
        background: $success;

        &:hover{ background: $success-dark; }
      }
    }

    .form-range{

      .road{
        background: $lighter;

        .fill{
          background: $green;
        }
      }

      .handle{
        background: $white;
        border: 3px solid $green;
      }
    }
  }

  &.bg-dark{

    .btn{
      color: $lighter;
      background: fade_out($dark, .5);

      &:hover{
        background: fade_out($dark, .6);
      }
    }

    .form-input{
      border: none;
      color: $lighter;
      background: fade_out($dark, .2);

      &:focus{
        background: fade_out($dark, .3);
      }
    }

    .form-switch{

      &.active{
        background: $dark;

        &:hover{ background: $darker; }
      }
    }

    .form-range{

      .road{
        background: $lighter;

        .fill{
          background: $dark;
        }
      }

      .handle{
        background: $white;
        border: 3px solid $dark;
      }
    }
  }

  &.border-white{

    .form-input{
      border-color: $white;

      &:focus{ border-color: $white; }
    }
  }

  &.border-primary{

    .form-input{
      border-color: fade_out($primary, .5);

      &:focus{ border-color: $primary; }
    }
  }

  &.border-info{

    .form-input{
      border-color: fade_out($info, .5);

      &:focus{ border-color: $info; }
    }
  }

  &.border-danger{

    .form-input{
      border-color: fade_out($danger, .5);

      &:focus{ border-color: $danger; }
    }
  }

  &.border-warning{

    .form-input{
      border-color: fade_out($warning, .5);

      &:focus{ border-color: $warning; }
    }
  }

  &.border-success{

    .form-input{
      border-color: fade_out($success, .5);

      &:focus{ border-color: $success; }
    }
  }

  &.border-dark{

    .form-input{
      border-color: fade_out($dark, .5);

      &:focus{ border-color: $dark; }
    }
  }

  .input-wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: stretch;

    .form-input{
      width: 1%;
      flex: 1 1 auto;
    }

    .rounded-left{ border-radius: 5px 0 0 5px; }
    .rounded-right{ border-radius: 0 5px 5px 0; }

    .rounded-right-0 {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .rounded-left-0 {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .rounded-top-0 {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .rounded-bottom-0 {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .i-spin{
      animation: spin 2s ease-in-out infinite;
    }
  }

  .switch-wrap{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.form-label{
  display: block;
  font-size: 14px;
  transition: .3s;
  font-weight: 600;
}

.form-help{
  opacity: .5;
  display: block;
  font-size: 12px;
  margin-top: 4px;
  transition: .3s;
  font-weight: 600;
  text-align: right;
}

.form-input{
  width: 100%;
  color: $dark;
  font-size: 14px;
  font-weight: 500;
  box-shadow: unset;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background: $white;
  border: 3px solid $lighter;
  transition: color .3s, border .3s,  background .3s;

  &:not(textarea){
    height: 40px;
  }

  &:not(textarea){
    height: 40px;
  }

  &:focus{
    outline: none;
    border-color: $light;
  }

  &.bg-white{
    color: $muted;
    background: $white;

    &:focus{
      background: fade_out($white, .2);
    }
  }

  &.bg-primary{
    color: $blue;
    background: fade_out($blue, .9);

    &:focus{
      background: fade_out($blue, .8);
    }
  }

  &.bg-info{
    color: $cyan;
    background: fade_out($cyan, .9);

    &:focus{
      background: fade_out($cyan, .8);
    }
  }

  &.bg-danger{
    color: $red;
    background: fade_out($red, .9);

    &:focus{
      background: fade_out($red, .8);
    }
  }

  &.bg-warning{
    color: $yellow;
    background: fade_out($yellow, .9);

    &:focus{
      background: fade_out($yellow, .8);
    }
  }

  &.bg-success{
    color: $green;
    background: fade_out($green, .9);

    &:focus{
      background: fade_out($green, .8);
    }
  }

  &.bg-dark{
    color: $lighter;
    background: fade_out($dark, .2);

    &:focus{
      background: fade_out($dark, .3);
    }
  }

  &.border-primary{
    border-color: $primary-light;

    &:focus{ border-color: $primary-dark; }
  }

  &.border-info{
    border-color: $info-light;

    &:focus{ border-color: $info-dark; }
  }

  &.border-danger{
    border-color: $danger-light;

    &:focus{ border-color: $danger-dark; }
  }

  &.border-warning{
    border-color: $warning-light;

    &:focus{ border-color: $warning-dark; }
  }

  &.border-success{
    border-color: $success-light;

    &:focus{ border-color: $success-dark; }
  }

  &.border-dark{
    border-color: $dark;

    &:focus{ border-color: $darker; }
  }
}

textarea.form-input{
  resize: vertical;
  min-height: 40px;
  padding-top: 10px;
  font-family: inherit;
  padding-bottom: 10px;
}

.form-switch{
  width: 50px;
  height: 30px;
  cursor: pointer;
  transition: .3s;
  position: relative;
  border-radius: 30px;
  background: $lighter;
  display: inline-block;

  input{ display: none; }

  &:before{
    top: 3px;
    left: 3px;
    content: '';
    z-index: 10;
    width: 24px;
    height: 24px;
    transition: .3s;
    background: #fff;
    position: absolute;
    border-radius: 30px;
    transform: translateX(0);
  }

  &:active{

    &:before{
      width: 30px;
    }
  }

  &.active{
    background: $light;

    &:before {
      left: calc(100% - 3px);
      transform: translateX(-100%);
    }
  }

  &.loading{
    pointer-events: none;

    &:before {
      width: calc(100% - 6px) !important;
    }
  }
}

.form-select{

  .input-wrap{
    z-index: 20;
  }

  .dropdown-wrap{
    z-index: 100;
    display: block;
    position: relative;

    .dropdown{
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      transition: .3s;
      overflow: hidden;
      background: #fff;
      position: absolute;
      visibility: hidden;
      border-radius: 0 0 5px 5px;

      &.active{
        opacity: 1;
        visibility: visible;
      }

      .scroll-wrap{
        max-height: 40px * 6;
        border: 3px solid $lighter;
        border-top: 0;
      }

      .form-input{
        border: 3px solid $lighter;
        border-top: none;
      }

      .btn{
        transition: 0s;
        text-align: left;
        border-radius: 0;

        &.selected{
          color: $white;
          background: $blue;
        }
      }
    }
  }
}

.form-textarea{
  width: 100%;
  color: $dark;
  border: none;
  font-size: 14px;
  padding: $spacer;
  resize: vertical;
  font-weight: 500;
  box-shadow: unset;
  border-radius: 4px;
  background: $lighter;
  min-height: 40px + $spacer;
  transition: color .3s, border .3s,  background .3s;
}

.form-range{
  left: 9px;
  height: 40px;
  display: block;
  position: relative;
  width: calc(100% - 18px);

  .road{
    left: -9px;
    height: 3px;
    display: block;
    overflow: hidden;
    position: absolute;
    border-radius: 3px;
    background: $lighter;
    top: calc(50% - 1.5px);
    width: calc(100% + 18px);

    .fill{
      top: 0;
      left: 0;
      height: 100%;
      display: block;
      position: absolute;
      background: $light;
    }
  }

  .handle{
    width: 18px;
    height: 18px;
    display: block;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    background: #fff;
    top: calc(50% - 9px);
    border: 3px solid $light;
    transform: translateX(-50%);
  }
}

.progress{
  height: 40px;
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  background: $lighter;

  &.progress-sm{
    height: 3px;
  }

  &.border{
    border: 3px solid $white;

    .fill{ background: $white; }
  }

  &.bg-white{
    .fill{ background: $white; }
  }

  &.bg-primary{
    .fill{ background: $blue; }
  }

  &.bg-info{
    .fill{ background: $cyan; }
  }

  &.bg-danger{
    .fill{ background: $red; }
  }

  &.bg-warning{
    .fill{ background: $yellow; }
  }

  &.bg-success{
    .fill{ background: $green; }
  }

  &.bg-dark{
    .fill{ background: $dark; }
  }

  .fill{
    top: 0;
    left: 0;
    height: 100%;
    display: block;
    position: absolute;
    background: $light;
  }
}

.drop-zone{
  transition: .3s;

  &:hover, &.drag-over{
    background: fade_out($primary, .9);
    border-color: $primary;
  }
}