.modal{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  z-index: 1000;
  position: fixed;
  transition: .3s;
  overflow-y: auto;
  visibility: visible;
  background: fade_out($black, .3);

  &.fade-enter-active, &.fade-leave-active {
    transition: opacity .3s, visibility .3s;

    .modal-dialog { transition: transform .3s; }
  }

  &.fade-enter, &.fade-leave-to {
    opacity: 0;
    visibility: hidden;

    .modal-dialog {
      transform: translateY(20px);
    }
  }

  &.modal-sm{
    .container{
      max-width: 800px;
    }
  }

  &.modal-xs{
    .container{
      max-width: 600px;
    }
  }

  &.modal-lg{
    .container{
      max-width: 100%;
    }
  }

  .scroll-wrap{
    max-height: 100%;

    .ps__rail-y, .ps__rail-x{
      z-index: 10;
    }
  }
}

.modal-wrap{
  position: relative;
  min-height: 100vh;
}

.modal-close{
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

.modal-dialog{
  z-index: 10;
  background: #fff;
  position: relative;
  transform: translateY(0);
  box-shadow: 6px 6px 0 -3px fade_out($black, .8);

  .card{
    box-shadow: none;
    margin-bottom: 0 !important;
  }

  &.loading{
    opacity: 0;
    transform: translateY(20px);
  }
}