.navbar{
  &.navbar-page{
    height: 70px;
    z-index: 900;
  }

  &.navbar-shadow{
    box-shadow: 0 18px 0 -15px fade_out(#000, .95) !important;
  }

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0;
    line-height: 1;
  }

  p {
    margin-bottom: 0;
    line-height: 1;
  }

  .form-group{
    margin-bottom: 0;
  }
}

.navbar-avatar{
  width: 40px;
  height: 40px;
  padding-bottom: 0;
  position: relative;

  .sticker{
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
}

.navbar-label{
  display: flex;
  position: relative;

  .content{
    display: flex;
    line-height: 20px;
    flex-direction: column;
  }
}