.side-menu{
  top: 0;
  left: 0;
  z-index: 999;
  position: absolute;

  .menu{
    top: 0;
    left: 0;
    z-index: 10;
    width: 250px;
    height: 100vh;
    position: fixed;
    transition: .3s;
  }

  .menu-close{
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: .3s;
    cursor: pointer;
    position: fixed;
    visibility: hidden;
    background: fade_out($black, .5);
  }

  .scroll-wrap{
    height: 100%;
  }

  .menu-header{
    height: 70px;
    display: flex;
    flex-wrap: nowrap;
    padding: 0 $spacer;
    white-space: nowrap;
    align-items: center;
    background: fade_out(#fff, .9);
  }

  .menu-brand{
    color: $lighter;
    font-weight: bold;
    display: inline-block;

    &:hover{
      i, img{ opacity: 1; }
    }

    i{
      top: 1px;
      width: 16px;
      opacity: .5;
      position: relative;
      text-align: center;
      line-height: unset;
      font-weight: normal;
      display: inline-block;
      vertical-align: middle;
      transition: opacity .3s;
    }

    img{
      opacity: .5;
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
      transition: opacity .3s;
    }

    span{
      vertical-align: middle;
    }
  }

  .menu-nav{
    display: flex;
    color: $lighter;
    flex-direction: column;

    .nav-item{

      .menu-nav{
        display: none;
        background: fade_out(#000, .95);

        &.active{
          display: block;
        }
      }
    }

    .nav-link{
      width: 100%;
      color: inherit;
      display: block;
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;
      overflow: hidden;
      user-select: none;
      line-height: 40px;
      position: relative;
      white-space: nowrap;
      padding-left: $spacer;
      padding-right: $spacer;
      text-overflow: ellipsis;

      &:hover{
        i{
          opacity: 1;
        }
      }

      &.active{

        span, i{
          opacity: 1;
          color: #5cc8c8;
        }
      }

      i{
        width: 16px;
        opacity: .5;
        text-align: center;
        line-height: unset;
        font-weight: normal;
        display: inline-block;
        vertical-align: middle;
        transition: .3s;

        &.drop-group{
          top: 0;
          opacity: .5;
          right: $spacer;
          position: absolute;
        }

        &.float-right{
          float: right;
          margin-left: $spacer;
        }

        &.float-left{
          float: left;
          margin-right: $spacer;
        }
      }

      span{
        opacity: .5;
        transition: .3s;
      }
    }
  }

  .menu-divider{
    width: 100%;
    color: inherit;
    display: block;
    font-size: 14px;
    transition: .3s;
    font-weight: 600;
    overflow: hidden;
    user-select: none;
    line-height: 40px;
    position: relative;
    margin-top: $spacer;
    white-space: nowrap;
    padding-left: $spacer;
    padding-right: $spacer;
    text-overflow: ellipsis;
  }
}

@include media-breakpoint-up(lg) {
  .admin-page{
    padding-left: 250px;

    &.side-menu-mini{
      padding-left: 70px;

      .side-menu{

        .menu{
          width: 70px;
        }

        .menu-brand{
          width: 100%;

          i{
            width: 100%;
            font-size: 30px;
          }

          img{
            width: 30px;
            height: 30px;
            display: block;
            margin: 0 auto;
          }
          span{ display: none; }
        }

        .menu-nav{

          .nav-item{
            padding: 5px;

            .menu-nav{
              .nav-item{
                padding: 0;

                .nav-link { border-radius: 0; }
              }
            }
          }

          .nav-link{
            padding: 0;
            margin: 0 auto;
            display: block;
            border-radius: 10px;

            &:hover{
              background: fade_out($lighter, .95);
            }

            &.active{
              color: $dark;
              background: $lighter;
            }

            i{
              width: 100%;

              &.drop-group{ display: none; }
              &.float-right, &.float-left{
                float: unset;
                margin-left: unset;
                margin-right: unset;
              }
            }

            span{ display: none; }
          }
        }

        .menu-divider{ display: none; }

        .btn{ display: none; }
      }
    }
  }
}

@include media-breakpoint-down(md) {

  .admin-page{
    padding-left: 0;

    &.side-menu-open{

      .side-menu{
        .menu{
          transform: translateX(0);
          box-shadow: 0 0 20px fade_out($black, .5);
        }

        .menu-close{
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .side-menu{

    .menu{
      transform: translateX(-100%);
      width: calc(100% - 70px);
    }
  }
}
