.sticker{
  width: 50px;
  height: 50px;
  color: $dark;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  background: fade_out($dark, .9);

  &.sticker-sm{
    width: 30px;
    height: 30px;
    font-size: 12px;
  }

  &.sticker-lg{
    width: 100px;
    height: 100px;
    font-size: 30px;
  }

  &.bg-light{
    color: $muted;
    background: fade_out($lighter, .5);
  }

  &.bg-primary{
    color: $primary;
    background: fade_out($primary, .9);
  }

  &.bg-info{
    color: $info;
    background: fade_out($info, .9);
  }

  &.bg-danger{
    color: $danger;
    background: fade_out($danger, .9);
  }

  &.bg-warning{
    color: $warning;
    background: fade_out($warning, .9);
  }

  &.bg-success{
    color: $success;
    background: fade_out($success, .9);
  }

  &.bg-white{
    color: $lighter;
    background: fade_out($white, .9);
  }

  &.bg-dark{
    color: $lighter;
    background: fade_out($dark, .2);
  }
}
