<template>
  <div class="alerts-page">

    <mega-header class="bg-white" title="Alerts">
      <span class="text-muted">Vital UI Alert components for your project.</span>
    </mega-header>

    <section>
      <div class="container py-5">
        <div class="row">
          <div class="sm-down:col-12 md-up:col-6">

            <mega-card title="Basic Alerts">
              <div class="card-body">

                <mega-alert title="Muted Alert" type="muted">Dolor posuere proin blandit accumsan senectus netus nullam curae, mauris adipiscing pretium eget fermentum.</mega-alert>
                <mega-alert title="Default Alert">Dolor posuere proin blandit accumsan senectus netus nullam curae, mauris adipiscing pretium eget fermentum.</mega-alert>
                <mega-alert title="Primary Alert" type="primary">Dolor posuere proin blandit accumsan senectus netus nullam curae, mauris adipiscing pretium eget fermentum.</mega-alert>
                <mega-alert title="Info Alert" type="info">Dolor posuere proin blandit accumsan senectus netus nullam curae, mauris adipiscing pretium eget fermentum.</mega-alert>
                <mega-alert title="Warning Alert" type="warning">Dolor posuere proin blandit accumsan senectus netus nullam curae, mauris adipiscing pretium eget fermentum.</mega-alert>
                <mega-alert title="Danger Alert" type="danger">Dolor posuere proin blandit accumsan senectus netus nullam curae, mauris adipiscing pretium eget fermentum.</mega-alert>
                <mega-alert title="Success Alert" type="success">Dolor posuere proin blandit accumsan senectus netus nullam curae, mauris adipiscing pretium eget fermentum.</mega-alert>
              </div>
            </mega-card>
          </div>
          <div class="col">

            <mega-card title="Custom Icons">
              <div class="card-body">
                <mega-alert title="With Home" icon="i-home-solid" type="success">Dolor posuere proin blandit accumsan senectus netus nullam curae, mauris adipiscing pretium eget fermentum.</mega-alert>
                <mega-alert title="With Activity" icon="i-activity">Dolor posuere proin blandit accumsan senectus netus nullam curae, mauris adipiscing pretium eget fermentum.</mega-alert>
                <mega-alert title="With User" icon="i-user" type="primary">Dolor posuere proin blandit accumsan senectus netus nullam curae, mauris adipiscing pretium eget fermentum.</mega-alert>
              </div>
            </mega-card>

            <mega-card title="Alert callbacks">
              <div class="card-body">
                <mega-alert title="On Remove" @remove="on_remove">Check the console to see result.</mega-alert>
              </div>
            </mega-card>
          </div>
        </div>

      </div>
    </section>
  </div>
</template>

<script>
  export default {
    name: 'Alerts',
    methods: {
      on_remove() {
        console.log('You remove one alert!');
      }
    }
  }
</script>
