<template>
  <div class="login-page row">

    <div class="col bg-image overlay-20" :class="overlay" style="background-image: url(/static/cover.jpg)"></div>

    <div class="col-5 md-down:col-12 bg-white content-center">

      <div class="w-100">
        <div class="container py-5">

          <h1 class="mb-5 text-uppercase text-center">
            <span class="font-light text-primary">Omega</span>
            <small class="d-block strong text-muted">Dashboard</small>
          </h1>

          <div class="row justify-content-center">
            <div class="xs:col-10 sm-up:col-8 lg-up:col-6">
              <mega-input placeholder="Email"/>
              <mega-input type="password" placeholder="Password"/>
            </div>
          </div>

          <div class="text-center">
            <router-link to="/" class="btn bg-primary">Login</router-link>
            <p class="mt-3">Login with:</p>
            <span class="btn btn-sm px-0 bg-primary overlay-20 overlay-white" @click="overlay = 'overlay-info'"><i class="i-vk"></i></span>
            <span class="btn btn-sm px-0 bg-primary" @click="overlay = 'overlay-primary'"><i class="i-facebook"></i></span>
            <span class="btn btn-sm px-0 bg-dark" @click="overlay = 'overlay-dark'"><i class="i-github"></i></span>
            <span class="btn btn-sm px-0 bg-danger overlay-20 overlay-info" @click="overlay = 'overlay-danger'"><i class="i-dribbble"></i></span>
          </div>

          <small class="text-muted d-block text-center mt-4">Omega Dashboard v 1.1.0</small>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Invoice',
    data() {
      return {
        overlay: 'overlay-dark'
      }
    },
    methods: {
      print() {

        let myframe = document.createElement('IFRAME');

        myframe.domain = document.domain;
        myframe.style.position = "absolute";
        myframe.style.top = "-10000px";
        document.body.appendChild(myframe);
        myframe.contentDocument.write(this.$refs['invoice-body'].innerHTML) ;

        setTimeout(function(){
          myframe.focus();
          myframe.contentWindow.print();
          myframe.parentNode.removeChild(myframe);
        },3000);
        window.focus();
      }
    }
  }
</script>
