<template>
  <div class="cards-page">

    <mega-header class="bg-white" title="Tiles">
      <span class="text-muted">Basic tiles futures</span>
    </mega-header>

    <div class="container py-5">

      <div class="row">

        <div class="sm-down:col-12 md-up:col-6">

          <mega-tile icon="i-activity" title="some text"/>
        </div>

        <div class="col">

        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Tiles'
  }
</script>
