<template>
  <div class="files-page">

    <mega-header class="bg-white" title="Files">
      <span class="text-muted">That feeling of delight when you start your awesome new project!</span>
    </mega-header>

    <div class="navbar border-bottom">
      <div class="container py-3 sm-down:d-block">
        <custom-btn title="New File" icon="i-file"/>
        <custom-btn title="New Folder" icon="i-folder"/>
      </div>
    </div>

    <section class="folders">
      <div class="container pt-5">
        <div class="row">
          <div class="xs:col-12 sm:col-6 md:col-4 lg:col-3 xl:col-2" v-for="(folder, i) in folders" :key="i">
            <custom-folder :data="folder"/>
          </div>
        </div>
      </div>
    </section>

    <section class="files">
      <div class="container pt-5 pb-3">
        <div class="row">
          <div class="xs:col-12 sm:col-6 md:col-4 lg:col-3 xl:col-2" v-for="(file, i) in files" :key="i">
            <custom-file :data="file" @remove="removeFile(i)"/>
          </div>
        </div>
      </div>
    </section>

    <section class="files-compact">
      <div class="container pt-5 pb-2">
        <div class="row">
          <div class="xs:col-12 sm:col-6 md:col-4 lg:col-3 xl:col-2" v-for="(file, i) in files" :key="i">

            <mega-card class="block-hover rounded mb-4" no-header>

              <div class="card-header">
                <nav class="nav">
                  <span class="btn btn-sm p-0"><i class="i-edit-2"></i></span>
                  <span class="btn btn-sm p-0"><i class="i-eye"></i></span>
                </nav>
                <nav class="nav ml-auto">
                  <span class="btn btn-sm p-0" @click="$emit('remove')"><i class="i-trash"></i></span>
                </nav>
              </div>

              <div class="card-body text-center py-5">
                <div class="sticker bg-light sticker-lg" :class="color"><i :class="'i-'+file.type"></i></div>
              </div>

              <span class="btn w-100">
                <span>{{file.name}}</span>
              </span>
            </mega-card>
          </div>
        </div>
      </div>
    </section>

    <section class="files-very-compact">
      <div class="container py-5">
        <div class="row">
          <div class="xs:col-12 sm:col-6 md:col-4 lg:col-3 xl:col-2" v-for="(file, i) in files" :key="i">

            <span class="btn d-block text-left card-border mb-3">
                <i class="float-left opacity-50" :class="'i-'+file.type"></i>
                <span>{{file.name}}</span>
            </span>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import CustomBtn from './components/button'
  import CustomFile from './components/file'
  import CustomFolder from './components/folder'

  import files from './data/files'
  import folders from './data/folders'

  export default {
    name: 'Files',
    data() {
      return {
        folders,
        files
      }
    },
    methods: {
      removeFile(i) {
        let arr = [];

        this.files.map( (item, j) => {
          if(i !== j)
            arr.push(item)
        });

        this.files = arr;
      }
    },
    components: {
      CustomFile,
      CustomBtn,
      CustomFolder
    }
  }
</script>
