<template>
  <div class="cards-page">

    <mega-header class="bg-white" title="Buttons">
      <span class="text-muted">Clickable areas that are easy to recognize but perfectly match the overall design.</span>
    </mega-header>

    <div class="container py-5">

      <div class="row">

        <div class="sm-down:col-12 md-up:col-6">

          <mega-card title="Buttons Color">
            <div class="card-body">

              <p>You can easily style a button or a link by adding the base class <code>bg-</code> and then by applying a color variation class.</p>

              <div class="row text-center">

                <div class="col mb-3">
                  <mega-button>Default</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="bg-white">White</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="bg-light">Light</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="bg-primary">Primary</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="bg-info">Info</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="bg-warning">Warning</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="bg-danger">Danger</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="bg-success">Success</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="bg-muted">Muted</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="bg-dark">Dark</mega-button>
                </div>
              </div>
            </div>
          </mega-card>

          <mega-card title="Buttons Text Color">
            <div class="card-body">

              <p>You can easily style a button or a link by adding the base class <code>text-</code> and then by applying a color variation class.</p>

              <div class="row text-center">

                <div class="col mb-3">
                  <mega-button>Default</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="text-light">Light</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="text-primary">Primary</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="text-info">Info</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="text-warning">Warning</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="text-danger">Danger</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="text-success">Success</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="text-muted">Muted</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="text-dark">Dark</mega-button>
                </div>
              </div>
            </div>
          </mega-card>

          <mega-card title="Rounded Buttons">
            <div class="card-body">

              <p>Just add class <code>btn-rounded</code> to your button.</p>

              <div class="row text-center">

                <div class="col mb-3">
                  <mega-button class="bg-light btn-rounded">Default</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="bg-light btn-rounded p-0"><i class="i-cloud"></i></mega-button>
                  <mega-button class="bg-light btn-rounded p-0 ml-3"><i class="i-home"></i></mega-button>
                </div>
              </div>
            </div>
          </mega-card>
        </div>

        <div class="col">

          <mega-card title="Buttons Sizes">
            <div class="card-body">

              <p>You can easily size a button by adding the base class <code>btn-</code> and then by applying a size variation class.</p>

              <div class="row text-center align-items-end">

                <div class="col mb-3">
                  <mega-button class="bg-light btn-xs">Mini (xs)</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="bg-light btn-sm">Small (sm)</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="bg-light btn">Default</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="bg-light btn-lg">Large (lg)</mega-button>
                </div>
              </div>

              <mega-button class="bg-light btn w-100">Block (w-100)</mega-button>
            </div>
          </mega-card>

          <mega-card title="Buttons With Icons">
            <div class="card-body">

              <p>You can use any icon you like with your buttons! Prefer the ones that better represent the action of each button.</p>

              <div class="row text-center">

                <div class="col mb-3">
                  <mega-button class="bg-light"> <i class="i-heart-solid float-left"></i> Be awesome</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="bg-light"> <i class="i-dollar-sign float-left"></i> Purchase</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="bg-light"> <i class="i-home float-left"></i> Go Home</mega-button>
                </div>
              </div>

              <div class="row text-center">

                <div class="col mb-3">
                  <mega-button class="bg-light"> <i class="i-play float-right"></i> Play Media</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="bg-light"> <i class="i-arrow-right float-right"></i> Next Step</mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="bg-light"> <i class="i-eye-off float-right"></i> Hide me</mega-button>
                </div>
              </div>

              <div class="row text-center">

                <div class="col mb-3">
                  <mega-button class="bg-light p-0">
                    <i class="i-target"></i>
                  </mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="bg-light p-0">
                    <i class="i-play-circle"></i>
                  </mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="bg-light p-0">
                    <i class="i-power"></i>
                  </mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="bg-light p-0">
                    <i class="i-profile"></i>
                  </mega-button>
                </div>

                <div class="col mb-3">
                  <mega-button class="bg-light p-0">
                    <i class="i-user-plus"></i>
                  </mega-button>
                </div>
              </div>
            </div>
          </mega-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Buttons'
  }
</script>
