<template>
	<footer class="small bg-white">
		<div class="container-fluid d-flex justify-content-between py-3">

			<div class="text-muted">
				<router-link to="/">&copy;Omega admin</router-link>
				<span>{{$root.year}}</span>
			</div>

			<router-link to="/">
				by Alex Moore
			</router-link>
		</div>
	</footer>
</template>

<script>
  export default {
    name: 'MainFooter',
    	components: {
		}
  }
</script>
