<template>
	<div class="navbar navbar-page py-3 sticky-top bg-white navbar-shadow">
		<div class="container-fluid">

			<span class="btn bg-light p-0 md-down:d-none" @click="$mega.menu.minimize_toggle">
				<i :class="$mega.menu.isMini ? 'i-sidebar-solid' : 'i-sidebar'"></i>
			</span>

			<span class="btn bg-light p-0 ml-auto lg-up:d-none" @click="$mega.menu.open_toggle">
				<i class="i-menu-simple"></i>
			</span>

		</div>
	</div>
</template>

<script>
  export default {
    name: 'PageNavbar'
  }
</script>
