<template>
	<div class="side-menu">

		<span class="menu-close" @click="$mega.menu.open_toggle"></span>

		<div class="menu bg-dark">
			<perfect-scrollbar class="scroll-wrap">

				<div class="menu-header">
					<div class="menu-brand">
						<i class="i-omega text-warning"></i>
						<span>mega</span>
					</div>
				</div>

				<ul class="menu-nav" @click="$mega.menu.open_toggle">

					<li class="menu-divider">Dashboards</li>

					<mega-menu-link to="/" icon="i-home" exact>Dashboard</mega-menu-link>

					<li class="menu-divider">UI Elements</li>

					<mega-menu-link to="/typography" icon="i-type">Typography</mega-menu-link>
					<mega-menu-link to="/buttons" icon="i-server">Buttons</mega-menu-link>
					<mega-menu-link to="/icons" icon="i-hash">Icons</mega-menu-link>
					<mega-menu-link to="/alerts" icon="i-credit-card">Alerts</mega-menu-link>
					<mega-menu-link to="/cards" icon="i-layers">Cards</mega-menu-link>
					<mega-menu-link to="/stickers" icon="i-stop-circle">Stickers</mega-menu-link>
					<mega-menu-link to="/form" icon="i-edit-3">Form</mega-menu-link>
					<mega-menu-link to="/modal" icon="i-square">Modal</mega-menu-link>
					<mega-menu-link to="/charts" icon="i-bar-chart-2">Charts</mega-menu-link>
					<mega-menu-link to="/slider" icon="i-more-horizontal">Slider</mega-menu-link>
					<mega-menu-link to="/navbar" icon="i-navbar">NavBar</mega-menu-link>

					<li class="menu-divider">Others</li>

					<mega-menu-group to="/login" title="Pages">
						<mega-menu-link to="/pages/blank" icon="i-file">Blank</mega-menu-link>
						<mega-menu-link to="/pages/inbox" icon="i-mail">Inbox</mega-menu-link>
						<mega-menu-link to="/pages/files" icon="i-server">Files</mega-menu-link>
						<mega-menu-link to="/pages/404" icon="i-close">404</mega-menu-link>
						<mega-menu-link to="/pages/maintenance" icon="i-settings">Maintenance</mega-menu-link>
						<mega-menu-link to="/login" icon="i-profile-2-solid">Login</mega-menu-link>
						<mega-menu-link to="/login_2" icon="i-profile-solid">Login v2</mega-menu-link>
					</mega-menu-group>

					<mega-menu-group to="/login" title="Multi Level Menu">
						<mega-menu-link to="/login" icon="i-corner-down-right">Link 1</mega-menu-link>
						<mega-menu-link to="/login" icon="i-corner-down-right">Link 2</mega-menu-link>

						<mega-menu-group to="/login" title="Sub Level">
							<mega-menu-link to="/login" icon="i-chevrons-right">Link 1</mega-menu-link>
							<mega-menu-link to="/login" icon="i-chevrons-right">Link 2</mega-menu-link>

							<mega-menu-group to="/login" title="Sub Level">
								<mega-menu-link to="/login" icon="i-arrow-down-right">Link 1</mega-menu-link>
								<mega-menu-link to="/login" icon="i-arrow-down-right">Link 2</mega-menu-link>

								<mega-menu-group to="/login" title="Sub Level">
									<mega-menu-link to="/login" icon="i-minus">Link 1</mega-menu-link>
									<mega-menu-link to="/login" icon="i-minus">Link 2</mega-menu-link>
								</mega-menu-group>
							</mega-menu-group>
						</mega-menu-group>
					</mega-menu-group>
				</ul>

				<div class="container-fluid my-3">
					<span class="btn w-100 bg-info">Buy</span>
				</div>
			</perfect-scrollbar>
		</div>
	</div>
</template>

<script>
  export default {
	  name: 'MainSidebar'
  }
</script>
