<template>
  <span class="btn bg-light text-left d-block sm-down:w-fill">
    <i class="float-left" :class="icon"></i>
    <span>{{title}}</span>
  </span>
</template>

<script>
  export default {
    props: ['title', 'icon']
  }
</script>
