<template>
  <mega-card class="block-hover rounded mb-3" no-header>

    <div class="card-header">
      <nav class="nav">
        <span class="btn btn-sm p-0"><i class="i-edit-2"></i></span>
        <span class="btn btn-sm p-0"><i class="i-eye"></i></span>
      </nav>
      <nav class="nav ml-auto">
        <span class="btn btn-sm p-0"><i class="i-download"></i></span>
        <span class="btn btn-sm p-0" @click="$emit('remove')"><i class="i-close"></i></span>
      </nav>
    </div>

    <div class="card-body text-center py-5">
      <div class="sticker sticker-lg" :class="color"><i :class="'i-'+data.type"></i></div>
    </div>

    <nav class="nav flex-column small">

      <div class="nav-text text-muted w-100">
        <i class="i-minus"></i>
        <span>{{data.name}}</span>
      </div>

      <div class="nav-text text-muted w-100">
        <i class="i-calendar"></i>
        <span>{{data.date}}</span>
      </div>

      <div class="nav-text text-muted w-100">
        <i class="i-package"></i>
        <span>{{data.size}}</span>
      </div>
    </nav>
  </mega-card>
</template>

<script>
  export default {
    props: ['data'],
    computed: {
      color() {
        let color = 'bg-light'

        if(this.data.type === 'image') color = 'bg-primary';
        if(this.data.type === 'archive') color = 'bg-warning';
        if(this.data.type === 'music') color = 'bg-info';

        return color
      }
    }
  }
</script>
