<template>
  <span class="btn d-block text-left card-border mb-3">
      <i class="i-folder-solid float-left opacity-50"></i>
      <span>{{data.name}}</span>
  </span>
</template>

<script>
  export default {
    props: ['data']
  }
</script>
