<template>
  <div class="dashboard-page">

    <mega-header class="overlay-dark overlay-90 text-lighter" title="Dashboard" background="/static/cover.jpg">
      <span class="text-muted">Welcome Administrator!</span>
    </mega-header>

    <div class="navbar border-bottom">
      <div class="container py-3 sm-down:d-block">

        <span class="btn bg-primary md-up:mr-3 text-left d-block sm-down:w-fill">
          <i class="i-plus float-left"></i>
          <span>New Project</span>
        </span>

        <span class="btn bg-light text-left d-block sm-down:w-fill">
          <i class="i-dollar-sign float-left"></i>
          <span>Latest Sales</span>
        </span>

        <router-link to="/pages/files" class="btn bg-light text-left d-block sm-down:w-fill">
          <i class="i-file float-left"></i>
          <span>File Manager</span>
        </router-link>

        <router-link to="/pages/inbox" class="btn bg-light text-left d-block sm-down:w-fill">
          <i class="i-mail float-left"></i>
          <span>Inbox</span>
        </router-link>
      </div>
    </div>

    <section>
      <div class="container py-5">
        <div class="row">

          <div class="col">

            <mega-alert title="Show Alerts" to="/alerts" icon="i-link" type="info">Dolor posuere proin blandit accumsan senectus netus nullam curae, mauris adipiscing pretium eget fermentum.</mega-alert>

            <mega-card title="Views" @onRefresh="updateData">
              <div class="card-body">

                <mega-chart :labels="['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']">
                  <mega-chart-set title="This week" :data="dataset_1"/>
                  <mega-chart-set title="Last week" :data="dataset_2" color="light"/>
                </mega-chart>
              </div>

              <div class="card-body pt-0">
                <p class="text-muted mb-0">Dolor posuere proin blandit accumsan senectus netus nullam curae, mauris
                  adipiscing pretium eget fermentum. Dolor posuere proin blandit accumsan senectus netus nullam curae,
                  mauris adipiscing pretium eget fermentum.</p>
              </div>
            </mega-card>
          </div>

          <div class="col-4">

            <mega-card>

              <div class="navbar py-3">
                <div class="container-fluid">

                  <div class="navbar-label mr-auto">

                    <mega-image class="rounded-full navbar-avatar mr-3" src="/static/cover.jpg"/>

                    <div class="content">
                      <small class="strong"><a href="#">User</a> added new image</small>
                      <small class="text-muted text-dark"><i class="i-heart-solid"></i> 11 Likes </small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-media">
                <mega-image ratio="4x3" src="/static/cover.jpg"/>
              </div>
              <div class="nav">
                <span class="btn w-100 text-success">Accept</span>
                <span class="btn w-100 text-danger">Decline</span>
              </div>
              <div class="card-body">
                <small class="text-muted">Dolor posuere proin blandit accumsan senectus netus nullam curae, mauris adipiscing pretium eget fermentum.</small>
              </div>
            </mega-card>

            <mega-card title="Latest Sales">

              <div class="card-body pb-0">
                <h3 class="strong text-primary mb-0">1340+</h3>
                <small class="text-muted">Completed orders</small>
              </div>

              <div class="card-media">
                <mega-chart ratio="10x2" :labels="['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']" clear>
                  <mega-chart-set title="This week" :data="[1, 3, 3, 5, 3, 8, 7]" fill/>
                </mega-chart>
              </div>
            </mega-card>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    name: 'Dashboard',
    data() {
      return {
        dataset_1: [7, 9, 3, 5, 2, 3, 1],
        dataset_2: [6, 4, 7, 4, 3, 4, 2]
      }
    },
    methods: {

      randomData() {
        let arr = [];

        for (let i = 0; i < 7; i++)
          arr.push(Math.round(Math.random() * 50))

        return arr;
      },

      updateData() {
        this.dataset_1 = this.randomData();
        this.dataset_2 = this.randomData();
      }
    }
  }
</script>
