<template>
  <div class="typography-page">

    <mega-header class="bg-white" title="Typography">
      <span class="text-muted">Good Typography not only looks good but also reinforces the meaning of the text.</span>
    </mega-header>

    <div class="container py-5">

      <div class="row">

        <div class="sm-down:col-12 md-up:col-6">

          <mega-card title="Headings" ::menu="[]">
            <div class="card-body">
              <h1>h1. Heading</h1>
              <h2>h2. Heading</h2>
              <h3>h3. Heading</h3>
              <h4>h4. Heading</h4>
              <h5>h5. Heading</h5>
              <h6>h6. Heading</h6>
            </div>
          </mega-card>

          <mega-card title="Paragraphs">
            <div class="card-body">
              <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna
                accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate
                bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl
                nisi ultricies sed.</p>

              <p class="lead">Fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque
                commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim
                integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem,
                inceptos nibh orci.</p>
            </div>
          </mega-card>

          <mega-card title="Paragraphs Colors">
            <div class="card-body">
              <p class="text-light">This text has the light color...</p>
              <p class="text-muted">This text has the muted color...</p>
              <p class="text-dark">This text has the dark color...</p>
              <p class="text-primary">This text has the primary color...</p>
              <p class="text-info">This text has the info color...</p>
              <p class="text-warning">This text has the warning color...</p>
              <p class="text-danger">This text has the danger color...</p>
              <p class="text-success">This text has the success color...</p>
            </div>
          </mega-card>

          <mega-card title="Badges">
            <div class="card-body">

              <p>
                <span class="badge bg-light">Light</span>
                <span class="badge">Default</span>
                <span class="badge bg-dark">Dark</span>
                <span class="badge bg-primary">Primary</span>
                <span class="badge bg-info">Info</span>
                <span class="badge bg-warning">Warning</span>
                <span class="badge bg-danger">Danger</span>
                <span class="badge bg-success">Success</span>
              </p>

              <p>Large Badges</p>

              <p>
                <span class="badge badge-lg bg-light">Light</span>
                <span class="badge badge-lg">Default</span>
                <span class="badge badge-lg bg-dark">Dark</span>
                <span class="badge badge-lg bg-primary">Primary</span>
                <span class="badge badge-lg bg-info">Info</span>
                <span class="badge badge-lg bg-warning">Warning</span>
                <span class="badge badge-lg bg-danger">Danger</span>
                <span class="badge badge-lg bg-success">Success</span>
              </p>

              <p>Badges futures</p>

              <p>
                <span class="badge">1</span>
                <span class="badge"><i class="i-profile-solid"></i> 10</span>
                <span class="badge bg-info"><i class="i-heart-solid float-left"></i> 100</span>
                <span class="badge bg-dark"><i class="i-arrow-right float-right"></i> 1000</span>
                <span class="badge bg-danger badge-rounded"><i class="i-close float-left"></i> Declined</span>
              </p>

              <p>Some text with <span class="badge">badge</span> in middle.</p>
            </div>
          </mega-card>
        </div>

        <div class="sm-down:col-12 md-up:col-6">

          <mega-card title="Bold Headings">
            <div class="card-body">
              <h1 class="strong">h1. Heading</h1>
              <h2 class="strong">h2. Heading</h2>
              <h3 class="strong">h3. Heading</h3>
              <h4 class="strong">h4. Heading</h4>
              <h5 class="strong">h5. Heading</h5>
              <h6 class="strong">h6. Heading</h6>
            </div>
          </mega-card>

          <mega-card title="Links">
            <div class="card-body">
              <a href="#">Default link</a>
            </div>

            <div class="pb-3">
              <a href="#" class="text-light text-nowrap px-3">Light link</a>
              <a href="#" class="text-primary text-nowrap px-3">Primary link</a>
              <a href="#" class="text-info text-nowrap px-3">Info link</a>
              <a href="#" class="text-warning text-nowrap px-3">Warning link</a>
              <a href="#" class="text-danger text-nowrap px-3">Danger link</a>
              <a href="#" class="text-success text-nowrap px-3">Success link</a>
              <a href="#" class="text-muted text-nowrap px-3">Muted link</a>
              <a href="#" class="text-dark text-nowrap px-3">Dark link</a>
            </div>
          </mega-card>

          <mega-card title="Paragraphs Colors">
            <div class="card-body">
              <p>You can mix the <code>.text-muted</code> class with other colors.</p>
              <p class="text-dark text-muted">This text has the muted dark color...</p>
              <p class="text-primary text-muted">This text has the muted primary color...</p>
              <p class="text-info text-muted">This text has the muted info color...</p>
              <p class="text-warning text-muted">This text has the muted warning color...</p>
              <p class="text-danger text-muted">This text has the muted danger color...</p>
              <p class="text-success text-muted">This text has the muted success color...</p>
            </div>
          </mega-card>

          <mega-card title="Text Styles">
            <div class="card-body">
              <p>Important words or sentences can be distinguished by a <mark>different background</mark>, which gives the necessary emphasis.</p>
              <p><del>Often</del> Sometimes, I want to correct myself.</p>
              <p>To everyone understood, you can <u>underline</u> important in the text.</p>
              <p><small>Small font</small> it's always cool.</p>
              <p><strong>Bold font</strong> no less cool.</p>
              <p><em>Italic font</em> this is not a joke.</p>
              <p class="text-hide">Invisible text.</p>
              <p class="font-light">Text with light font weight.</p>
            </div>
          </mega-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Typography'
  }
</script>
