<template>
  <div class="blank-page">

    <mega-header class="bg-white" title="Form inputs">
      <span class="text-muted">Carefully designed elements that will ensure a great experience for your users!</span>
    </mega-header>

    <section>
      <div class="container py-5">
        <div class="row">

          <div class="sm-down:col-12 md-up:col-6">

            <mega-card title="Form Input">
              <div class="card-body">

                <mega-input label="Form Label" placeholder="Form Input"/>

                <mega-input help="This is a form help text!" placeholder="Form Input"/>

                <mega-input label="Form Label" help="This is a form help text!" placeholder="Form Input"/>

                <mega-input label="Form Input With Icon" placeholder="Add new user" icon="i-user-plus"/>

                <mega-input label="Form Input With Button" placeholder="Search..." :button="{icon: 'i-search', click: () => {}}"/>

                <mega-input label="Loading Form" placeholder="Is disabled" loading/>

                <div class="row">

                  <div class="sm-down:col-12 md-up:col-6">

                    <mega-input class="border-primary text-primary" label="Primary Label" help="This is a form help text!" placeholder="Primary Input"/>

                    <mega-input class="border-info text-info" label="Info Label" help="This is a form help text!" placeholder="Info Input"/>

                    <mega-input class="border-danger text-danger" label="Danger Label" help="This is a form help text!" placeholder="Danger Input"/>
                  </div>

                  <div class="col">

                    <mega-input class="border-warning text-warning" label="Warning Label" help="This is a form help text!" placeholder="Warning Input"/>

                    <mega-input class="border-success text-success" label="Success Label" help="This is a form help text!" placeholder="Success Input"/>

                    <mega-input class="border-dark text-dark" label="Dark Label" help="This is a form help text!" placeholder="Dark Input"/>
                  </div>
                </div>

                <div class="row">

                  <div class="sm-down:col-12 md-up:col-6">

                    <mega-input class="bg-primary text-primary" label="Primary Label" help="This is a form help text!" placeholder="Primary Input"/>

                    <mega-input class="bg-info text-info" label="Info Label" help="This is a form help text!" placeholder="Info Input"/>

                    <mega-input class="bg-danger text-danger" label="Danger Label" help="This is a form help text!" placeholder="Danger Input"/>
                  </div>

                  <div class="col">

                    <mega-input class="bg-warning text-warning" label="Warning Label" help="This is a form help text!" placeholder="Warning Input"/>

                    <mega-input class="bg-success text-success" label="Success Label" help="This is a form help text!" placeholder="Success Input"/>

                    <mega-input class="bg-dark text-dark" label="Dark Label" help="This is a form help text!" placeholder="Dark Input"/>
                  </div>
                </div>
              </div>
            </mega-card>

            <mega-card title="Form Switch">
              <div class="card-body">

                <ul class="nav flex-column">
                  <li class="py-3">
                    <mega-switch class="mb-0" v-model="sw[0]" label="Switch Default"/>
                  </li>
                  <li class="py-3 border-top">
                    <mega-switch class="mb-0 bg-primary" v-model="sw[1]" label="Switch Primary"/>
                  </li>
                  <li class="py-3 border-top">
                    <mega-switch class="mb-0 bg-info" v-model="sw[2]" label="Switch Info"/>
                  </li>
                  <li class="py-3 border-top">
                    <mega-switch class="mb-0 bg-danger" v-model="sw[3]" label="Switch Danger"/>
                  </li>
                  <li class="py-3 border-top">
                    <mega-switch class="mb-0 bg-warning" v-model="sw[4]" label="Switch Warning"/>
                  </li>
                  <li class="py-3 border-top">
                    <mega-switch class="mb-0 bg-success" v-model="sw[5]" label="Switch Success"/>
                  </li>
                  <li class="py-3 border-top">
                    <mega-switch class="mb-0 bg-dark" v-model="sw[6]" label="Switch Dark"/>
                  </li>
                  <li class="py-3 border-top">
                    <mega-switch class="mb-0" loading label="Switch Loading"/>
                  </li>
                  <li class="py-3 border-top">
                    <mega-switch class="mb-0" @click="switched" :checked="custom_switch" label="Switch Custom Event"/>
                  </li>
                </ul>
              </div>
            </mega-card>

            <mega-card title="Form Mask">
              <div class="card-body">

                <mega-mask label="Mask Phone" placeholder="Mask Phone"
                           v-model="phone" unmask
                           :mask="{mask: '+{7} (000) 000-00-00', lazy: false}"
                           :help="phone"/>

                <mega-mask label="Mask Date" placeholder="Form Date"
                           v-model="date"
                           :mask="{mask: Date, min: new Date(1990, 0, 1), max: new Date(2020, 0, 1)}"
                           :help="date"/>

                <mega-mask label="Mask RegExp" placeholder="Mask RegExp" v-model="regexp" :mask="{mask: /^[1-6]\d{0,5}$/}" help="/^[1-6]\d{0,5}$/"/>
              </div>
            </mega-card>
          </div>

          <div class="sm-down:col-12 md-up:col-6">

            <mega-card class="bg-transparent" title="Form Input">
              <div class="card-body">

                <mega-input class="bg-white border-white" label="Form Label" placeholder="Form Input"/>

                <mega-input class="bg-white border-white" type="password" placeholder="Write Password"
                            v-model="password"
                            :class="{'text-danger': password.length < 10}"
                            :help="password_help"/>

                <mega-input class="bg-white border-white" type="email" help="Enter your email!" placeholder="Write Email"/>

                <mega-input class="bg-white border-white" label="Loading Form" placeholder="Is disabled" loading/>

                <mega-textarea class="bg-white border-white" rows="15" type="textarea" label="Form Textarea" placeholder="Just change type to textarea"/>
              </div>
            </mega-card>

            <mega-card class="bg-transparent" title="Form Switch">
              <div class="card-body pb-0">

                <div class="row text-center">

                  <div class="col mb-3">
                    <mega-switch class="border" v-model="sw[0]"/>
                  </div>

                  <div class="col mb-3">
                    <mega-switch class="border bg-primary" v-model="sw[1]"/>
                  </div>

                  <div class="col mb-3">
                    <mega-switch class="border bg-info" v-model="sw[2]"/>
                  </div>

                  <div class="col mb-3">
                    <mega-switch class="border bg-danger" v-model="sw[3]"/>
                  </div>

                  <div class="col mb-3">
                    <mega-switch class="border bg-warning" v-model="sw[4]"/>
                  </div>

                  <div class="col mb-3">
                    <mega-switch class="border bg-success" v-model="sw[5]"/>
                  </div>

                  <div class="col mb-3">
                    <mega-switch class="border bg-dark" v-model="sw[6]"/>
                  </div>

                  <div class="col mb-3">
                    <mega-switch class="border bg-dark" loading/>
                  </div>
                </div>
              </div>
            </mega-card>

            <mega-card title="Form Select">
              <div class="card-body">

                <mega-select label="Loading Select" placeholder="Loading Select" loading
                             :options="[]"/>

                <mega-select label="Simple Select" placeholder="Simple Select"
                             :options="[{value: 'option_1', name: 'Option 1'}, {value: 'option_2', name: 'Option 2'}]"
                             v-model="select"
                             :help="select"/>

                <mega-select label="Select With Filter" placeholder="Select With Filter"
                             filter @search="search"
                             :options="countries"
                             v-model="country"
                             :help="country"/>
              </div>
            </mega-card>

            <mega-card title="Form Number">
              <div class="card-body pb-0">

                <div class="row">

                  <div class="lg-down:col-12 xl:col-6">
                    <mega-number label="Simple Number Input" placeholder="Number" v-model="number[0]"/>
                  </div>

                  <div class="col">
                    <mega-number label="2 Step Number Input" placeholder="Number" v-model="number[1]" :step="2"/>
                  </div>

                  <div class="lg-down:col-12 xl:col-6">
                    <mega-number label="Range Number Input" placeholder="Number" help="min is 0 and max is 10" v-model="number[2]" :min="0" :max="10"/>
                  </div>
                </div>
              </div>
            </mega-card>

            <mega-card title="Form Range">
              <div class="card-body">

                <mega-range label="Default Range" :help="range" v-model="range"/>

                <div class="row events-disable">

                  <div class="sm-down:col-12 md-up:col-6">
                    <mega-range label="Primary Range" class="bg-primary" v-model="range" :max="120"/>
                    <mega-range label="Info Range" class="bg-info" v-model="range" :min="-20" :max="180"/>
                    <mega-range label="Danger Range" class="bg-danger" v-model="range" :max="140"/>
                  </div>

                  <div class="sm-down:col-12 md-up:col-6">
                    <mega-range label="Warning Range" class="bg-warning" v-model="range" :min="-40" :max="140"/>
                    <mega-range label="Success Range" class="bg-success" v-model="range" :max="120"/>
                    <mega-range label="Dark Range" class="bg-dark" v-model="range" :min="-10" :max="180"/>
                  </div>
                </div>
              </div>
            </mega-card>
          </div>
        </div>
        <div class="row">

          <div class="sm-down:col-12 md-up:col-6">

            <mega-card title="Progress"
                       :menu="['refresh']"
                       @refresh="progress = [rand(), rand(), rand(), rand(), rand(), rand(), rand()]">
              <div class="card-body">

                <mega-progress class="mb-3" :value="progress[0]"/>
                <mega-progress class="bg-primary progress-sm mb-3" :value="progress[1]"/>
                <mega-progress class="bg-info progress-sm mb-3" :value="progress[2]"/>
                <mega-progress class="bg-danger progress-sm mb-3" :value="progress[3]"/>
                <mega-progress class="bg-warning progress-sm mb-3" :value="progress[4]"/>
                <mega-progress class="bg-success progress-sm mb-3" :value="progress[5]"/>
                <mega-progress class="bg-dark progress-sm" :value="progress[6]"/>
              </div>
            </mega-card>
          </div>

          <div class="sm-down:col-12 md-up:col-6">

            <mega-card title="Form DropZone">
              <div class="card-body">
                <mega-drop-zone ratio="16x9" :type="['image/png', 'image/svg+xml']" multiple @change="renderFiles">
                  <span class="sticker mb-3"><i class="i-upload"></i></span>
                  <mega-button class="btn-xs events-disable">Drop files</mega-button>
                  <mega-button class="btn-xs events-disable">Or click to upload file</mega-button>
                </mega-drop-zone>

                <div class="row mt-3" v-if="images.length > 0">
                  <div class="col-3" v-for="(image, i) in images" :key="i">
                    <mega-image ratio="1x1" :src="image"/>
                  </div>
                </div>
              </div>
            </mega-card>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import Data from './data'

  export default {
    name: 'Form',
    data() {
      return {
        number: [0, 0, 5],
        progress: [this.rand(), this.rand(), this.rand(),
          this.rand(), this.rand(), this.rand(), this.rand()],
        custom_switch: true,
        password: '',
        sw: [],
        images: [],
        phone: '',
        date: '',
        regexp: '',
        select: '',
        country: undefined,
        countries: [...Data],
        range: 50
      }
    },
    computed: {
      password_help() {
        let msg = '';
        let more = 10 - this.password.length;

        if(this.password){

          if(this.password.length < 10)
            msg = more + ` symbol${(more === 1 ? '' : 's')} more!`
          else msg = 'Correct';
        }
        else msg = 'Enter your password!';

        return msg;
      }
    },
    methods: {

      rand() {
        return Math.round( Math.random() * 100 )
      },

      renderFiles(files) {

        this.images = [];

        files.map(file => {
          let reader = new FileReader();
          reader.readAsDataURL(file);

          reader.onloadend = () => {
            this.images.push(reader.result);
          };
        })
      },

      search(q) {
        let array = [...Data];
        q = q.toLowerCase();

        this.countries = q.length === 0 ? array : array.filter( (a) => {
          return a.name.toLowerCase().includes(q) || a.value.toLowerCase().includes(q);
        } ) || [];
      },

      switched(e) {
        console.log('disable custom check');
        e.preventDefault();

        setTimeout(() => {
          this.custom_switch = !this.custom_switch;
        }, 2000)
      }
    }
  }
</script>
