//
// Colors
$light: #e1e4e6;
$lighter: #f0f1f2;

$primary-light: $blue-light;
$primary: $blue;
$primary-dark: $blue-dark;

$danger-light: #ff7373;
$danger: #ff6666;
$danger-dark: #e85d5d;

$warning-light: #ffc66c;
$warning: #ffc15e;
$warning-dark: #e8b056;

$success-light: $green-light;
$success: $green;
$success-dark: $green-dark;

$info-light: #aa7d94;
$info: #a2708a;
$info-dark: #94667e;


//
// Typography

$font-family-base: 'Open Sans', sans-serif;


//
// Border

$border-width: 3px;
$border-color: $light;