@import "icons";
@import "~cute-framework/src/variables";
@import "variables";

@import "~cute-framework/src/normalize";
@import "~cute-framework/src/reboot";
@import "~cute-framework/src/breakpoints";
@import "~cute-framework/src/utilities/overlay";

.ratio {
  width: 100%;
  display: block;
  position: relative;
  background-size: cover;
  background-position: center;
}

@import "modules/button";
@import "modules/badge";
@import "modules/card";
@import "modules/navbar";
@import "modules/header";
@import "modules/slider";
@import "modules/sticker";
@import "modules/side-menu";
@import "modules/scroll-bar";
@import "modules/display";
@import "modules/modal";

@import "~cute-framework/src/base/align";
@import "~cute-framework/src/base/background";
@import "~cute-framework/src/base/border";
@import "~cute-framework/src/base/container";
@import "~cute-framework/src/base/cursor";
@import "~cute-framework/src/base/display";
@import "~cute-framework/src/base/flex";
@import "~cute-framework/src/base/float";
@import "~cute-framework/src/base/grid";
@import "~cute-framework/src/base/layers";
@import "~cute-framework/src/base/opacity";
@import "~cute-framework/src/base/position";
@import "~cute-framework/src/base/size";
@import "~cute-framework/src/base/spacing";
@import "~cute-framework/src/base/text";
@import "~cute-framework/src/base/typography";
@import "~cute-framework/src/base/visibility";

@import "~cute-framework/src/utilities/alert";
@import "~cute-framework/src/utilities/nav";
@import "~cute-framework/src/utilities/navbar";

@import "modules/chart";
@import "modules/form";

body{
  cursor: default;
  font-size: 16px;
  font-weight: 400;
  font-family: $font-family-base;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.font-light{
  font-weight: 300;
}