<template>
  <div class="blank-page">

    <mega-header class="bg-white" title="Charts">
      <span class="text-muted">Simple yet flexible JavaScript charting for designers & developers!</span>
    </mega-header>

    <div class="navbar border-bottom sticky-top bg-lighter" style="top: 70px;">
      <div class="container py-3 sm-down:d-block">
        <mega-button class="btn-sm bg-light text-left d-block sm-down:w-fill" @click="updateData">
          <i class="i-shuffle float-left"></i> Randomize data
        </mega-button>
      </div>
    </div>

    <section>
      <div class="container py-5">

        <div class="row">

          <div class="sm-down:col-12 md-up:col-6">

            <mega-card title="Progress Ring">

              <div class="card-body text-center">
                <mega-progress-ring class="bg-primary" :progress="progress">
                  <h4 class="strong text-dark text-muted mb-0">{{progress}}</h4>
                </mega-progress-ring>

                <mega-range class="mb-0" :max="100" :min="0" v-model="progress"/>
              </div>
            </mega-card>

            <mega-card title="Line Chart">
              <div class="card-body">
                <mega-chart :labels="['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']">
                  <mega-chart-set title="This week" :data="chart"/>
                  <mega-chart-set title="Last week" :data="chart_2" color="light"/>
                </mega-chart>
              </div>
            </mega-card>

            <mega-card title="Line Chart">
              <div class="card-body">
                <mega-chart :labels="['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']">
                  <mega-chart-set title="This week" :data="chart" color="success" fill/>
                  <mega-chart-set title="Last week" :data="chart_2" color="light" fill/>
                </mega-chart>
              </div>
            </mega-card>

            <mega-card title="Chart On Card media">
              <div class="card-media">
                <mega-image ratio="16x9" src="/static/cover.jpg"/>

                <div class="media-overlay overlay-80 overlay-dark">
                  <mega-chart :labels="['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']" clear>
                    <mega-chart-set title="This week" :data="[7, 9, 3, 5, 2, 3, 1]"/>
                    <mega-chart-set title="Last week" :data="[6, 4, 7, 4, 3, 4, 2]" color="light"/>
                  </mega-chart>
                </div>
              </div>
              <div class="card-body">
                <small class="text-muted">Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum.</small>
              </div>
            </mega-card>
          </div>

          <div class="sm-down:col-12 md-up:col-6">

            <mega-card title="Bar Chart">
              <div class="card-body">
                <mega-chart :labels="['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']" type="bar" legend>
                  <mega-chart-set title="This week" :data="chart"/>
                  <mega-chart-set title="Last week" :data="chart_2" color="light"/>
                </mega-chart>
              </div>
            </mega-card>

            <mega-card title="Bar Chart">
              <div class="card-body">
                <mega-chart :labels="['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']" type="bar" legend>
                  <mega-chart-set title="This week" :data="chart" color="success" fill/>
                  <mega-chart-set title="Last week" :data="chart_2" color="light" fill/>
                </mega-chart>
              </div>
            </mega-card>

            <mega-card title="Chart On Card media">
              <div class="card-media">
                <mega-image ratio="16x9" src="/static/cover.jpg"/>

                <div class="media-overlay overlay-80 overlay-dark">
                  <mega-chart :labels="['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']" type="bar" clear>
                    <mega-chart-set title="This week" :data="[7, 9, 3, 5, 2, 3, 1]"/>
                    <mega-chart-set title="Last week" :data="[6, 4, 7, 4, 3, 4, 2]" color="light"/>
                  </mega-chart>
                </div>
              </div>
              <div class="card-body">
                <small class="text-muted">Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum.</small>
              </div>
            </mega-card>
          </div>
        </div>

        <mega-card title="Full Width Chart" :menu="['fullscreen', 'refresh']" @onRefresh="updateData">
          <div class="card-body">
            <mega-chart ratio="21x9" :labels="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']">
              <mega-chart-set title="2019" :data="chart" color="success" transparent/>
              <mega-chart-set title="2018" :data="chart_2" color="warning" transparent/>
              <mega-chart-set title="2017" :data="chart_3" color="dark" transparent/>
              <mega-chart-set title="2016" :data="chart_4" color="light" transparent/>
            </mega-chart>
          </div>
        </mega-card>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    name: 'Form',
    data() {

      return {
        progress: 10,
        chart: this.randomData(),
        chart_2: this.randomData(),
        chart_3: this.randomData(),
        chart_4: this.randomData()
      }
    },
    methods: {

      randomData() {
        let arr = [];

        for (let i = 0; i < 7; i++)
          arr.push(Math.round(Math.random() * 50))

        return arr;
      },

      updateData() {
        this.chart = this.randomData();
        this.chart_2 = this.randomData();
        this.chart_3 = this.randomData();
        this.chart_4 = this.randomData();
      }
    }
  }
</script>
