<template>
  <div class="stickers-page">

    <mega-header class="bg-white" title="Stickers">
      <span class="text-muted">Circle areas.</span>
    </mega-header>

    <div class="container py-5">

      <div class="row">

        <div class="sm-down:col-12 md-up:col-6">

          <mega-card title="Stickers Color">
            <div class="card-body">

              <p>You can easily style a sticker by adding the base class <code>bg-</code> and then by applying a color variation class.</p>

              <div class="row text-center">

                <div class="col mb-3">
                  <span class="sticker bg-white"><i class="i-info"></i></span>
                </div>

                <div class="col mb-3">
                  <span class="sticker bg-light"><i class="i-info"></i></span>
                </div>

                <div class="col mb-3">
                  <span class="sticker"><i class="i-info"></i></span>
                </div>

                <div class="col mb-3">
                  <span class="sticker bg-primary"><i class="i-info"></i></span>
                </div>

                <div class="col mb-3">
                  <span class="sticker bg-info"><i class="i-info"></i></span>
                </div>

                <div class="col mb-3">
                  <span class="sticker bg-warning"><i class="i-info"></i></span>
                </div>

                <div class="col mb-3">
                  <span class="sticker bg-danger"><i class="i-info"></i></span>
                </div>

                <div class="col mb-3">
                  <span class="sticker bg-success"><i class="i-info"></i></span>
                </div>

                <div class="col mb-3">
                  <span class="sticker bg-dark"><i class="i-info"></i></span>
                </div>
              </div>
            </div>
          </mega-card>

          <mega-card title="Stickers Text">
            <div class="card-body">
              <div class="row text-center">

                <div class="col mb-3">
                  <span class="sticker strong">A</span>
                </div>

                <div class="col mb-3">
                  <span class="sticker strong">Hi</span>
                </div>

                <div class="col mb-3">
                  <span class="sticker strong">: )</span>
                </div>
              </div>
            </div>
          </mega-card>

          <mega-card class="rounded">
            <div class="card-media">

              <div class="media-overlay overlay-80 overlay-dark">
                <div class="text-center">
                  <span class="sticker sticker-lg bg-white"><i class="i-info"></i></span>
                </div>
              </div>

              <mega-image ratio="16x9" src="/static/cover.jpg"/>
            </div>
          </mega-card>
        </div>

        <div class="col">

          <mega-card title="Stickers Size">
            <div class="card-body">

              <p>You can easily size a sticker by adding the base class <code>sticker-</code> and then by applying a size variation class.</p>

              <div class="row text-center align-items-center">

                <div class="col mb-3">
                  <span class="sticker sticker-sm"><i class="i-info"></i></span>
                </div>

                <div class="col mb-3">
                  <span class="sticker"><i class="i-info"></i></span>
                </div>

                <div class="col mb-3">
                  <span class="sticker sticker-lg"><i class="i-info"></i></span>
                </div>

                <div class="col mb-3">
                  <span class="sticker"><i class="i-info"></i></span>
                </div>

                <div class="col mb-3">
                  <span class="sticker sticker-sm"><i class="i-info"></i></span>
                </div>
              </div>
            </div>
          </mega-card>

          <mega-card class="rounded">
            <div class="card-media">

              <div class="media-overlay overlay-70 overlay-dark">
                <div class="text-center">
                  <span class="sticker sticker-lg bg-warning"><i class="i-ad"></i></span>
                </div>
              </div>

              <mega-image class="overlay-30 overlay-warning" ratio="16x9" src="/static/cover.jpg"/>
            </div>
          </mega-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Stickers'
  }
</script>
