<template>
  <div class="blank-page">

    <mega-header class="bg-white" title="Blank">
      <span class="text-muted">That feeling of delight when you start your awesome new project!</span>
    </mega-header>

    <section>
      <div class="container py-5">
        <h3>Your content</h3>
        <p>...</p>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    name: 'Blank'
  }
</script>
