<template>
    <div class="app bg-lighter">
        <router-view></router-view>
    </div>
</template>

<script>
  export default {
    name: 'App'
  }
</script>

<style lang="scss" src="./styles/app.scss"></style>
