<template>
  <div class="login-page content-center">

    <section class="bg-white w-100 mb-3">
      <div class="container py-5">

        <h1 class="mb-5 text-uppercase text-center">
          <span class="font-light text-primary">Omega</span>
          <small class="d-block strong text-muted">Dashboard</small>
        </h1>

        <div class="row justify-content-center">
          <div class="col md-up:col-6">
            <mega-input placeholder="Email"/>
            <mega-input type="password" placeholder="Password"/>
          </div>
        </div>

        <div class="text-center">
          <router-link to="/" class="btn bg-primary">Login</router-link>
        </div>
      </div>
    </section>

    <small class="text-muted">Omega Dashboard v 1.1.0</small>
  </div>
</template>

<script>
  export default {
    name: 'Invoice',
    methods: {
      print() {

        let myframe = document.createElement('IFRAME');

        myframe.domain = document.domain;
        myframe.style.position = "absolute";
        myframe.style.top = "-10000px";
        document.body.appendChild(myframe);
        myframe.contentDocument.write(this.$refs['invoice-body'].innerHTML) ;

        setTimeout(function(){
          myframe.focus();
          myframe.contentWindow.print();
          myframe.parentNode.removeChild(myframe);
        },3000);
        window.focus();
      }
    }
  }
</script>
