<template>
  <div class="blank-page">

    <mega-header class="bg-white" title="NavBar">
      <span class="text-muted">That feeling of delight when you start your awesome new project!</span>
    </mega-header>

    <section>
      <div class="container py-5">

        <mega-card title="Simple NavBar">

          <div class="navbar py-3">
            <div class="container-fluid">

              <h5 class="strong mr-3">NavBar</h5>
              <p class="mr-3">Text</p>
              <small class="mr-auto">Small</small>

              <mega-button class="p-0 bg-white"><i class="i-bell"></i></mega-button>
              <mega-button class="p-0 bg-white"><i class="i-activity"></i></mega-button>
              <mega-button class="p-0 bg-white mr-3"><i class="i-profile"></i></mega-button>
              <mega-button class="p-0 bg-light"><i class="i-menu"></i></mega-button>
            </div>
          </div>

          <div class="navbar py-3" :class="color" v-for="(color, i) in colors" :key="i">
            <div class="container-fluid text-white">

              <h5 class="strong mr-2">NavBar</h5>
              <small class="text-muted mr-auto">({{color}})</small>

              <mega-button :class="color" class="p-0"><i class="i-bell"></i></mega-button>
              <mega-button :class="color" class="p-0"><i class="i-activity"></i></mega-button>
              <mega-button :class="color" class="p-0 mr-3"><i class="i-profile"></i></mega-button>
              <mega-button :class="color" class="p-0"><i class="i-menu"></i></mega-button>
            </div>
          </div>
        </mega-card>

        <mega-card title="Sticky NavBar">

          <div class="navbar sticky-top py-3 bg-white navbar-shadow" style="top: 70px;">
            <div class="container-fluid">

              <span class="h5 strong mr-auto">NavBar</span>

              <mega-button class="p-0 bg-white"><i class="i-bell"></i></mega-button>
              <mega-button class="p-0 bg-white"><i class="i-activity"></i></mega-button>
              <mega-button class="p-0 bg-white mr-3"><i class="i-profile"></i></mega-button>
              <mega-button class="p-0 bg-light"><i class="i-menu"></i></mega-button>
            </div>
          </div>

          <div class="card-body">
            <p>Some content</p>
            <p>Some content</p>
            <p>Some content</p>
            <p>Some content</p>
            <p>Some content</p>
            <p>Some content</p>
            <p class="mb-0">Some content</p>
          </div>
        </mega-card>

        <mega-card title="NavBar Forms">

          <div class="navbar py-3">
            <div class="container-fluid">

              <span class="h5 strong mr-auto">NavBar</span>

              <mega-switch class="mr-3 border" v-model="sw"/>
              <mega-input placeholder="Search..." :button="{icon: 'i-search', click: () => {}}"/>
            </div>
          </div>

          <div class="navbar py-3">
            <div class="container-fluid">

              <span class="h5 strong mr-auto">NavBar</span>

              <mega-number class="mr-3" placeholder="Number" v-model="number"/>
            </div>
          </div>

          <div class="navbar py-3">
            <div class="container-fluid">

              <span class="h5 strong mr-auto">NavBar</span>

              <mega-select placeholder="Simple Select"
                           :options="[{value: 'option_1', name: 'Option 1'}, {value: 'option_2', name: 'Option 2'}]"
                           v-model="select"/>
            </div>
          </div>

          <div class="navbar py-3">
            <div class="container-fluid">

              <span class="h5 strong mr-auto">NavBar</span>

              <mega-range class="w-20" style="min-width: 100px;" v-model="range"/>
            </div>
          </div>
        </mega-card>

        <mega-card title="NavBar Elements">

          <div class="navbar py-3">
            <div class="container-fluid">

              <span class="h5 strong mr-auto">NavBar</span>

              <mega-image class="navbar-avatar mr-3" src="/static/cover.jpg"/>
              <mega-image class="rounded navbar-avatar mr-3" src="/static/cover.jpg"/>
              <mega-image class="rounded-full navbar-avatar" src="/static/cover.jpg"/>
            </div>
          </div>

          <div class="navbar py-3">
            <div class="container-fluid">

              <div class="navbar-label mr-auto">

                <mega-image class="rounded-full navbar-avatar mr-3" src="/static/cover.jpg"/>

                <div class="content">
                  <small class="strong"><a href="#">Some One</a> added you as a friend</small>
                  <small class="text-muted"><i class="i-heart-solid"></i> 11 Likes </small>
                </div>
              </div>

              <div class="navbar-label">

                <div class="content text-right">
                  <small class="text-muted">3 days ago</small>
                  <small class="strong">You added <a href="#">Jenny</a> Hess to your <a href="#">coworker</a> group. </small>
                </div>

                <mega-image class="rounded-full navbar-avatar ml-3" src="/static/cover.jpg"/>
              </div>
            </div>
          </div>
        </mega-card>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    name: 'Blank',
    data() {
      return {
        sw: false,
        number: 0,
        range: 10,
        select: '',
        colors: [
          'bg-primary',
          'bg-info',
          'bg-success',
          'bg-warning',
          'bg-danger',
          'bg-dark'
        ]
      }
    }
  }
</script>
